<div class="page-container payments-page-container">
    <div class="erip-payment-header-container">
        <h3 class="erip-payment-header">
            ERIP Payments
        </h3>
    </div>

    <div class="erip-payment-container">
        <erip-payment class="erip-payment-settings"
            payment-form="paymentForm" current-payment="currentPayment"
            current-payment-fields="currentPaymentFields">
        </erip-payment>

        <div class="general-payment-info-form" ng-form="generalPaymentInfoForm">
            <div class="payment-amount-container" ng-show="currentPayment != null">
                <div class="payment-amount input-group">
                    <div class="input-group-addon">
                        Amount
                    </div>

                    <input class="form-control" type="number"
                        placeholder="Amount"
                        min="1"
                        max="{{currentUserAccount.balance}}"
                        ng-required="true"
                        ng-model="paymentAmount"
                        ng-pattern="validationRegularExpressions.integerNumberRegularExpression">
                </div>
            </div>

            <div class="current-account-switch-container" ng-show="currentPayment != null">
                <div class="current-account-switch input-group">
                    <div class="input-group-addon">
                        Account number to pay from
                    </div>

                    <select type="button" class="form-control"
                        ng-model="currentUserAccount"
                        ng-options="account.id + ' (Balance: ' + account.balance + ')' for account in userAccounts"
                        ng-required="true">
                    </select>
                </div>
            </div>
        </div>

        <div class="pay-btn-container" ng-show="currentPayment != null">
            <button class="btn btn-success pay-btn" ng-click="pay()"
                ng-class="{disabled: !paymentForm.$valid || !generalPaymentInfoForm.$valid}">
                Pay
            </button>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>