<div class="page-container payments-page-container">
    <div class="erip-payment-header-container" ng-hide="isFirstTimeLoad">
        <h3 class="erip-payment-header">
            ERIP Payments
        </h3>
    </div>

    <div class="erip-payment-container" ng-hide="isFirstTimeLoad">
        <erip-payment class="erip-payment-settings"
            payment-form="paymentForm" current-payment="currentEripPayment"
            current-payment-fields="currentPaymentFields">
        </erip-payment>

        <general-payment payment-form="generalPaymentInfoForm"
            current-payment="currentPayment"
            user-accounts="userAccounts"
            ng-show="currentEripPayment != null">
        </general-payment>

        <div class="pay-btn-container" ng-show="currentEripPayment != null">
            <button class="btn btn-success pay-btn" ng-click="pay()"
                ng-class="{disabled: !paymentForm.$valid || !generalPaymentInfoForm.$valid}">
                Pay
            </button>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>