<div class="confirmation-popup-content">
    <div class="confirmation-popup-header-container">
        <h3 class="confirmation-popup-header" translate>
            Are you sure you want to proceed?
        </h3>
    </div>

    <div class="confirmation-popup-controls-container">
        <div class="col-xs-6">
            <button class="btn btn-success confirm-operation-btn"
                ng-click="$close()" translate>
                Confirm operation
            </button>
        </div>

        <div class="col-xs-6">
            <button class="btn btn-warning cancel-operation-btn"
                ng-click="$dismiss()" translate>
                Cancel operation
            </button>
        </div>
    </div>
</div>