@import "lib/mixins.less";
@import "lib/bootstrap/variables.less";

html, body {
    padding: 0;
    margin: 0;  
}

body {
    overflow-y: scroll;
    padding: 70px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggSEjUqSKh/VAAAAIRJREFUCNdjbG5utuHh4fFlYGD4z4AKGL9+/XqJ5ePHj694eHjKGLCAHz9+BDAfO3bsraam5j4eHp5gJiYmdgYGBoZ///79ffv2bV5ra+tiJgYGBgY2NrbDjx49Cvn/H2LLhw8fSlpbW6eGhYWhGllRUaFWXV3tyMDAwODo6MjAwMDAAACllS4UbVuR7wAAAABJRU5ErkJggg==') !important;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

a {
    cursor: pointer;
}

a[disabled] {
    pointer-events: none;
}

pre {
    border: none;
    background: #444;
}

.no-wrap {
    white-space: nowrap;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

.list-group i::before,
a i::before {
    display: inline-block;
    text-align: center;
    min-width: 16px;
}

*.ng-dirty.ng-invalid {
    border-color: red;
}
