<header ui-view="header-view">
</header>

<ui-view name="main-view"></ui-view>

<footer>
    <div class="footer-content-container container">
        <div class="home-link-container col-xs-2">
            <a class="home-link"
                ui-sref="main.authenticated.currency">
                Ɣ E-Bank
            </a>
        </div>
        <div class="about-link-container col-xs-2">
            <a class="about-link" translate>About</a>
        </div>
        <div class="copyright-container col-xs-8">
            <span class="copyright" translate>Copyright Gamma E-Bank ©2014</span>
        </div>
    </div>
</footer>