# Django
django>=1.7,<1.8
mysql-python
django-compressor
django-grappelli
django-devserver
django-wpadmin

# Python generic
path.py
requests
#iso8601==0.1.8

#django-appconf==0.6
#python-dateutil==2.2

# Deployment
gunicorn
psycopg2
dj_database_url
whitenoise