<div class="page-container accounts-page-container">
    <div class="accounts-list-container" ng-hide="isFirstTimeLoad">
        <div class="account-list-header-container">
            <div class="page-title-container">
                <h3 class="page-title">
                    Your Accounts
                </h3>
            </div>

            <div class="timestamp-container">
                <span class="timestamp">
                    Accounts state is actual for {{stateTimestamp | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                </span>
            </div>

            <div class="refresh-button-container">
                <a class="refresh-button" ng-click="reloadAccontsInformation()">
                    <span class="glyphicon glyphicon-refresh" ng-class="{ 'fa-spin': isBusy}"></span>
                </a>
            </div>
        </div>

        <div class="accounts-list-header-container" ng-hide="accounts.length == 0">
            <div class="accounts-list-header">
                <div class="account-number-header-container col-xs-3">
                    <span class="account-number-header">
                        Account Number
                    </span>
                </div>
                <div class="currency-code-header-container col-xs-3">
                    <span class="currency-code-header">
                        Currency Code
                    </span>
                </div>
                <div class="account-balance-header-container col-xs-3">
                    <span class="account-balance-header">
                        Account Balance
                    </span>
                </div>
                <div class="actions-header-container col-xs-3">
                </div>
            </div>
        </div>

        <ul class="accounts-list" ng-hide="accounts.length == 0">
            <li class="account-container" ng-repeat="account in accounts
                | slice: (currentPageNumber - 1)*itemsPerPage : currentPageNumber*itemsPerPage">
                <div class="account-number-container col-xs-3">
                    <span class="account-number">
                        {{account.id}}
                    </span>
                </div>

                <div class="account-currency-code-container col-xs-3">
                    <span class="account-currentcy-code"
                        title="{{getCurrencyById(account.currency)
                            && getCurrencyById(account.currency)
                                .nameLocalized[$parent.localizationService.currentLocale.code]
                            ? getCurrencyById(account.currency)
                                .nameLocalized[$parent.localizationService.currentLocale.code]
                            : account.currency}}">

                        {{getCurrencyById(account.currency)
                            ? getCurrencyById(account.currency).code
                            : account.currency}}
                    </span>
                </div>

                <div class="account-balance-container col-xs-3">
                    <div class="account-balance">
                        {{account.balance}}
                    </div>
                </div>

                <div class="account-details-link-container col-xs-3">
                    <a class="account-details-link"
                        ui-sref="main.accounts.account({id: account.id})">
                        Show Details
                    </a>
                </div>
            </li>
        </ul>

        <div class="no-accounts-presented-container" ng-show="accounts.length == 0 && !isBusy">
            <h3>You have no accounts yet :(</h3>
        </div>

        <div class="accounts-list-paging-container"
            ng-hide="accounts.length / itemsPerPage <= 1">
            <pagination class="pagination-sm"
                ng-model="currentPageNumber"
                total-items="accounts.length"
                items-per-page="itemsPerPage"
                max-size="maxPaginationSize"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </pagination>
        </div>
    </div>

    <ui-view name="account-details-content-view">
    </ui-view>

    <custom-spinner ng-show="isBusy">
    </custom-spinner>
</div>