{% load compress %}<!doctype html>
<html lang="en" class="no-js" ng-app="ebank-client">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, minimal-ui, user-scalable=no, maximum-scale=1" />

        {% block title %}
        {% endblock %}

        {% block meta %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}main/images/favicon.ico?v=1">

        <!-- contains relative paths -->
        <link rel="stylesheet" href="{{ STATIC_URL }}main/vendor/bower_components/font-awesome/css/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}main/vendor/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">

        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}main/vendor/bower_components/angular/angular-csp.css" type="text/css">
            <link rel="stylesheet" href="{{ STATIC_URL }}main/vendor/bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css">
            <link rel="stylesheet" href="{{ STATIC_URL }}main/vendor/bower_components/AngularJS-Toaster/toaster.css" />

            <link rel="stylesheet" href="{{ STATIC_URL }}main/styles/base.less" type="text/less">
        {% endcompress %}

        {% compress js %}

            {# vendor scripts #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/underscore/underscore.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-animate/angular-animate.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-resource/angular-resource.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-loading-bar/build/loading-bar.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/ui-router/release/angular-ui-router.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/AngularJS-Toaster/toaster.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-cookies/angular-cookies.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/vendor/bower_components/angular-gettext/dist/angular-gettext.js"></script>

            {# custom scrips #}

        {% endcompress %}

        <script type="text/javascript" src="/template/bundle.js"></script>

        {% compress js %}
            {# app config #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/app.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/translations.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/config/routeConfig.js"></script>

            {# interceptors #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/interceptors/unauthenticatedInterceptor.js"></script>

            {# constants #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/constants/constantsModule.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/constants/validation-regular-expressions/validationRegularExpressionsConstant.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/constants/custom-events/customEventsConstant.js"></script>

            {# services #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/servicesModule.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/localization/localizationService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/endpoint-generation/endpointGenerationService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/user-info/userInfoService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/notifications-info/notificationsInfoService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/user-accounts/userAccountsService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/user-notification/userNotificationService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/payments/paymentsService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/recursive-directive-helper/recursiveDirectiveHelperService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/currency/currencyService.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/services/automatic-account-operations/automaticAccountOperationsService.js"></script>

            {# providers #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/providersModule.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/user-info/userInfoProvider.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/user-accounts/userAccountsProvider.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/currency/currencyProvider.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/payments/paymentsProvider.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/automatic-account-operations/automaticAccountOperationsProvider.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/providers/notifications-info/notificationsInfoProvider.js"></script>

            {# directives #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/directivesModule.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/validation-message/controllers/validationMessageCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/validation-message/validationMessage.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/language-selector/controllers/languageSelectorCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/language-selector/languageSelector.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/left-menu/controllers/leftMenuCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/left-menu/leftMenu.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/custom-spinner/customSpinner.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/credit-card/creditCardDirective.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/erip-tree-node/controllers/eripTreeNodeCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/erip-tree-node/eripTreeNodeDirective.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/erip-payment/controllers/eripPaymentCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/erip-payment/eripPaymentDirective.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/general-payment/generalPaymentDirective.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/money-transfer/moneyTransferDirective.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/confirmation-popup/confirmationPopupProvider.js"></script>

            {# validation directives #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/directives/validators/match-validator/matchValidatorDirective.js"></script>

            {# filters #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/filters/filtersModule.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/filters/slice/sliceFilter.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/filters/unixtime/unixtimeFilter.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/filters/integer-number/integerNumberFilter.js"></script>

            {# controllers #}
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/login/controllers/loginCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/header/controllers/headerCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/currency/controllers/currencyCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/manage-account/change-password/controllers/changePasswordCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/accounts/controllers/accountsCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/accounts/account/controllers/accountCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/manage-automatic-account-operations/controllers/manageAutomaticAccountOperationsCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/manage-automatic-account-operations/controllers/manageAutomaticAccountOperations.automaticAccountOperationCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/payments/controllers/paymentResultCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/payments/money-transfer/controllers/moneyTransferCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/payments/erip/controllers/eripCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/notifications/controllers/notificationsCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/notifications/notification/controllers/notificationCtrl.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}main/scripts/app/about/controllers/aboutCtrl.js"></script>

        {% endcompress %}

        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>