{% extends "main/base.html" %}

{% block title %}
{% verbatim %}
    <title ng-bind="$root.gettext('Ɣ E-Bank')">
        Ɣ E-Банк | Ɣ E-Bank
    </title>
{% endverbatim %}
{% endblock %}

{% block meta %}
    <noscript>
        <meta http-equiv="refresh" content="0;URL=/javascript-disabled">
    </noscript>
{% endblock %}

{% block content %}
{% verbatim %}
    <ui-view name="site-view"></ui-view>

    <custom-spinner ng-show="isAppBusy">
    </custom-spinner>
    <toaster-container></toaster-container>
{% endverbatim %}
{% endblock %}