{% extends "main/base.html" %}

{% block title %}
    <title>JavaScript is disabled, Ɣ E-Bank | JavaScript отключен, Ɣ E-Банк | JavaScript адключаны, Ɣ E-Банк</title>
{% endblock %}

{% block content %}
{% verbatim %}
    <script>
        window.location.replace('/');
    </script>
    <div class="javascript-disabled-page">
        <div class="javascript-disabled-message-container">
            <div class="javascript-disabled-message">
                <div class="logo-container">
                    <span class="logo" translate>
                        Ɣ E-Bank
                    </span>
                </div>

                <div class="javascript-disabled-message-localized-container">
                    <div class="javascript-disabled-message-localized">
                        <h1 class="javascript-disabled-header">
                            JavaScript отключен
                        </h1>
                        <div class="javascript-disabled-description">
                            Ваш браузер не поддерживает JavaScript скрипты или эта опция отключена в данный момент. 
                            Пожалуйста попробуйте включить JavaScript и перезагрузить страницу.

                            Также ваш браузер может быть слишком старый, чтобы поддерживать JavaScript, в этом случае 
                            попробуйте загрузить и установить новую версию браузера из списка ниже:

                            <ul class="new-browser-list">
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.google.com/chrome/">
                                        Google Chrome
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.mozilla.org/firefox/">
                                        Mozilla Firefox
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.apple.com/safari/">
                                        Apple Safari
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.opera.com/">
                                        Opera
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://windows.microsoft.com/internet-explorer">
                                        Microsoft Internet Explorer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="javascript-disabled-message-localized-container">
                    <div class="javascript-disabled-message-localized">
                        <h1 class="javascript-disabled-header">
                            JavaScript адключаны
                        </h1>
                        <div class="javascript-disabled-description">
                            Ваш браўзэр не падтрымлівае JavaScript скрыпты або гэтая опцыя адключаная ў дадзены момант. 
                            Калі ласка паспрабуйце ўключыць JavaScript і перазагрузіць старонку.

                            Таксама ваш браўзэр можа быць занадта стары, каб падтрымліваць JavaScript, у гэтым выпадку
                            паспрабуйце загрузіць і ўсталяваць новую версію браўзэра са спісу ніжэй:

                            <ul class="new-browser-list">
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.google.com/chrome/">
                                        Google Chrome
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.mozilla.org/firefox/">
                                        Mozilla Firefox
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.apple.com/safari/">
                                        Apple Safari
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.opera.com/">
                                        Opera
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://windows.microsoft.com/internet-explorer">
                                        Microsoft Internet Explorer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="javascript-disabled-message-localized-container">
                    <div class="javascript-disabled-message-localized">
                        <h1 class="javascript-disabled-header">
                            JavaScript is disabled
                        </h1>
                        <div class="javascript-disabled-description">
                            Your browser does not support JavaScript scripts or this options is currently disabled. Please 
                            try to enable JavaScript and reload page.

                            Also your browserd may be too old to support JavaScript, in this case try to download and 
                            install the new one from the list below:

                            <ul class="new-browser-list">
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.google.com/chrome/">
                                        Google Chrome
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="https://www.mozilla.org/firefox/">
                                        Mozilla Firefox
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.apple.com/safari/">
                                        Apple Safari
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://www.opera.com/">
                                        Opera
                                    </a>
                                </li>
                                <li class="new-browser-link-container">
                                    <a target="_blank" href="http://windows.microsoft.com/internet-explorer">
                                        Microsoft Internet Explorer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}
{% endblock %}