{% extends "main/base.html" %}

{% block title %}
<title>Gamma E-Bank | Гамма Е-Банк</title>
{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-sm-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form" method="POST" action="/auth/login">
                            <div class="input-group">
                                <div class="input-group-addon">Login</div>
                                <input type="text" class="form-control" name="id" placeholder="ID" />
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Password</div>
                                <input type="password" class="form-control" name="password" placeholder="Password" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    Sign in <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}