<div class="general-payment-info-form" ng-form="paymentForm">
    <div class="payment-amount-container" ng-show="currentPayment != null">
        <div class="payment-amount input-group">
            <div class="input-group-addon" translate>
                Amount
            </div>

            <input class="form-control" type="number"
                name="paymentAmount"
                placeholder="{{'Amount'|translate}}"
                min="1"
                max="{{currentPayment.currentUserAccount.balance | integerNumber:0}}"
                ng-required="true"
                ng-model="currentPayment.paymentAmount"
                ng-pattern="validationRegularExpressions.integerNumberRegularExpression">
            <validation-message validation-expressions="[{
                    isValid: (!paymentForm.paymentAmount.$dirty
                        || !paymentForm.paymentAmount.$error.required),
                    validationMessageText: $root.gettext('The amount is required')
                },
                {
                    isValid: (!paymentForm.paymentAmount.$dirty
                        || !paymentForm.paymentAmount.$error.number),
                    validationMessageText: $root.gettext('The amount must be integer number')
                },
                {
                    isValid: (!paymentForm.paymentAmount.$dirty
                        || !paymentForm.paymentAmount.$error.pattern),
                    validationMessageText: $root.gettext('The amount must be greater than zero integer number')
                },
                {
                    isValid: (!paymentForm.paymentAmount.$dirty
                        || !paymentForm.paymentAmount.$error.min),
                    validationMessageText: $root.gettext('The amount must be greater than zero')
                },
                {
                    isValid: (!paymentForm.paymentAmount.$dirty
                        || !paymentForm.paymentAmount.$error.max),
                    validationMessageText: $root.gettext('The amount must be less than selected account balance')
                }]">
            </validation-message>
        </div>
    </div>

    <div class="current-account-switch-container" ng-show="currentPayment != null">
        <div class="current-account-switch input-group">
            <div class="input-group-addon" translate>
                Account number to pay from
            </div>

            <select type="button" class="form-control"
                name="currentUserAccount"
                ng-model="currentPayment.currentUserAccount"
                ng-options="account.id + ' (' + $root.gettext('Balance') + ': ' + account.balance
                    + ' ' + getCurrencyById(account.currency).code
                    + ')' for account in userAccounts"
                ng-required="true">
            </select>
            <validation-message validation-expressions="[{
                    isValid: (!paymentForm.currentUserAccount.$dirty
                        || !paymentForm.currentUserAccount.$error.required),
                    validationMessageText: $root.gettext('The account number to pay from is required')
                }]">
            </validation-message>
        </div>
    </div>
</div>