<div class="form-horizontal" ng:controller="MediaScanTaskParamsCtrl">
    <div class="form-group">
        <label class="col-sm-2 control-label">Sources</label>
        <div class="col-sm-10">
            <table class="slide table table-bordered">
                <tr ng:repeat="file in task.kwargs.source">
                    <td>
                        [[file]]
                    </td>
                    <td width="1">
                        <a ng:click="task.kwargs.source.splice($index, 1)" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> Remove
                        </a>
                    </td>
                </tr>
            </table>

            <div class="form-inline">
                <input ng:enter="ltfsRestorer.excludeList.push(newSource); newSource = ''" type="text" class="form-control" placeholder="New source" ng:model="newSource" />
                <a ng:click="task.kwargs.source.push(newSource); newSource = ''" class="btn btn-default"><i class="fa fa-plus"></i> Add</a>
            </div>
        </div>
    </div>
</div>