<div class="account-details">
    <div class="close-modal-button-container">
        <a ng-click="closeModal()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>

    <div class="account-details-content">
        <div class="account-info-mode-tabs-container">
            <ul class="nav nav-tabs account-info-mode-tabs" role="tablist">
                <li role="presentation" ng-class="{ active: isCurrentTab(tabIds.generalInfo)}">
                    <a ng-click="setTab(tabIds.generalInfo)">
                        General Info
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: isCurrentTab(tabIds.accountStatement)}">
                    <a ng-click="setTab(tabIds.accountStatement)">
                        Account Statement
                    </a>
                </li>
            </ul>
        </div>

        <div class="account-info-container">
            <div class="account-general-info-container" ng-show="isCurrentTab(tabIds.generalInfo)">
                <div class="timestamp-container">
                    <span class="timestamp">
                        Account state is actual for {{stateTimestamp | unixtime | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                    </span>
                </div>

                <div class="account-number-container row">
                    <div class="label col-xs-3">Account Number</div>
                    <div class="value col-xs-9">
                        {{account.id}}
                    </div>
                </div>

                <div class="currency-code-container row">
                    <div class="label col-xs-3">Currency</div>
                    <div class="value col-xs-9">

                        {{currentAccountCurrency
                            ? currentAccountCurrency.code
                            : account.currency}}

                        ({{currentAccountCurrency
                            && currentAccountCurrency
                                .nameLocalized[localizationService.currentLocale.code]
                            ? currentAccountCurrency
                                .nameLocalized[localizationService.currentLocale.code]
                            : account.currency}})
                    </div>
                </div>

                <div class="balance-container row">
                    <div class="label col-xs-3">Balance</div>
                    <div class="value col-xs-9">
                        {{account.balance}}
                    </div>
                </div>

                <div class="cards-list-container">
                    <div class="cards-list-header">
                        <span>Account Cards:</span>
                    </div>

                    <ul class="cards-list">
                        <li class="card-container" ng-repeat="card in account.cards">
                            <credit-card card="card"></credit-card>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="account-statement-container" ng-show="isCurrentTab(tabIds.accountStatement)">
                <div class="statement-filters-container">
                    <div class="statement-filters-header-container">
                        <h4 class="statement-filters-header">
                            <a ng-click="toggleFiltersMenu()">
                                <span class="glyphicon glyphicon-chevron-down"
                                    ng-class="{filtersMenuOpen: isFiltersMenuOpen}">
                                </span>
                                Filters ({{getFiltersCount()}}):
                            </a>

                        </h4>
                    </div>

                    <div collapse="!isFiltersMenuOpen" class="filters-container" ng-form="statementFiltersForm">
                        <div class="filter-container date-from-filter-container input-group">
                            <div class="input-group-addon">
                                Date From
                            </div>

                            <div class="form-control">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Enable Filter
                                    </div>
                                    <span class="form-control">
                                        <input type="checkbox" ng-model="statementDateFromFilterEnabled"/>
                                    </span>
                                </div>

                                <div class="date-time-selectors" collapse="!statementDateFromFilterEnabled">
                                    <div class="input-group selected-date-container">
                                        <div class="input-group-addon">
                                            Selected Date
                                        </div>

                                        <span class="form-control">
                                            {{statementDateFrom | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                                        </span>
                                    </div>
                                    <div class="input-group date-container">
                                        <div class="input-group-addon">
                                            Date
                                        </div>

                                        <datepicker ng-model="statementDateFrom"
                                            class="form-control"
                                            name="statementDateFrom"
                                            max-date="((statementDateFromFilterEnabled && statementDateToFilterEnabled)
                                                ? statementDateTo
                                                : maxDate)"
                                            min-date="minDate"
                                            starting-day="1"
                                            class="well well-sm">
                                        </datepicker>
                                        <validation-message validation-expressions="[{
                                                isValid: (!statementFiltersForm.statementDateFrom.$dirty
                                                    || statementFiltersForm.statementDateFrom.$valid),
                                                validationMessageText: 'The Date From filter value must be less or equal to Date To filter value'
                                            }]">
                                        </validation-message>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter-container date-from-filter-container input-group">
                            <div class="input-group-addon">
                                Date To
                            </div>

                            <div class="form-control">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Enable Filter
                                    </div>
                                    <span class="form-control">
                                        <input type="checkbox" ng-model="statementDateToFilterEnabled"/>
                                    </span>
                                </div>

                                <div class="date-time-selectors" collapse="!statementDateToFilterEnabled">
                                    <div class="input-group selected-date-container">
                                        <div class="input-group-addon">
                                            Selected Date
                                        </div>

                                        <span class="form-control">
                                            {{statementDateTo | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                                        </span>
                                    </div>
                                    <div class="input-group date-container">
                                        <div class="input-group-addon">
                                            Date
                                        </div>

                                        <datepicker ng-model="statementDateTo"
                                            class="form-control"
                                            name="statementDateTo"
                                            max-date="maxDate"
                                            min-date="((statementDateFromFilterEnabled && statementDateToFilterEnabled)
                                                ? statementDateFrom
                                                : minDate)"
                                            starting-day="1"
                                            class="well well-sm">
                                        </datepicker>
                                        <validation-message validation-expressions="[{
                                                isValid: (!statementFiltersForm.statementDateTo.$dirty
                                                    || statementFiltersForm.statementDateTo.$valid),
                                                validationMessageText: 'The Date To filter value must be greater or equal to Date From filter value'
                                            }]">
                                        </validation-message>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter-container payment-type-filter-container input-group">
                            <div class="input-group-addon">
                                Operation Type
                            </div>

                            <div class="form-control">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Enable Filter
                                    </div>
                                    <span class="form-control">
                                        <input type="checkbox" ng-model="statementOperationTypeFilterEnabled"/>
                                    </span>
                                </div>

                                <div class="operation-type-select" collapse="!statementOperationTypeFilterEnabled">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Operation Type
                                        </div>

                                        <div class="form-control">
                                            <input type="radio" ng-model="statementOperationType" value="erip">
                                            Erip Payment
                                            <br />
                                            <input type="radio" ng-model="statementOperationType" value="direct">
                                            Money Transfer
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="statement-controls-container controls-container row-fluid">
                    <div class="show-statement-btn-container col-xs-6">
                        <button class="btn btn-success show-statement-btn"
                                ng-class="{disabled: !statementFiltersForm.$valid}"
                                ng-click="loadAccountReport()">
                            Show Statement
                        </button>
                    </div>

                    <span class="download-statement-label col-xs-4">
                        Download statement in:
                    </span>

                    <a class="btn btn-link download-statement-pdf-link col-xs-1"
                        download="statement.pdf"
                        ng-class="{disabled: !statementFiltersForm.$valid}"
                        ng-href="{{getPdfStatementDownloadLink()}}"
                        target="_blank">
                        PDF
                    </a>

                    <a class="btn btn-link download-statement-csv-link col-xs-1"
                        download="statement.csv"
                        ng-class="{disabled: !statementFiltersForm.$valid}"
                        ng-href="{{getCsvStatementDownloadLink()}}"
                        target="_blank">
                        CSV
                    </a>
                </div>

                <div class="statement-report-container" ng-show="reportEntries !== undefined">
                    <div class="statement-report-list-container">
                        <div class="statement-report-list-header">
                            <div class="statement-operation-date-header-container col-xs-2">
                                <span class="statement-operation-date-header">
                                    Date
                                </span>
                            </div>
                            <div class="statement-operation-type-header-container col-xs-2">
                                <span class="statement-operation-type-header">
                                    Operation Type
                                </span>
                            </div>
                            <div class="statement-operation-info-header-container col-xs-5">
                                <span class="statement-operation-info-header">
                                    Operation Info
                                </span>
                            </div>
                            <div class="statement-operation-operation-amount-header-container col-xs-3">
                                <span class="statement-operation-amount-header">
                                    Operation Amount
                                </span>
                            </div>
                        </div>
                        <ul class="statement-report-list">
                            <li class="statement-operation-container"
                                    ng-repeat="reportEntry in reportEntries  | slice: (currentPageNumber - 1)*itemsPerPage : currentPageNumber*itemsPerPage">
                                <div class="statement-operation-date-container col-xs-2">
                                    <span class="statement-operation-date">
                                        {{reportEntry.processedAt | unixtime | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                                    </span>
                                </div>
                                <div class="statement-operation-type-container col-xs-2">
                                    <span class="statement-operation-type">
                                        {{reportEntry.isEripPayment
                                            ? 'Erip Payment'
                                            : ((reportEntry.giverAccountId === $parent.account.id
                                                ? 'Outgoing'
                                                : 'Incoming') + ' Money Transfer')}}
                                    </span>
                                </div>
                                <div class="statement-operation-info-container col-xs-5">
                                    <div class="erip-payment-statement-operation statement-operation-info" ng-if="reportEntry.isEripPayment">
                                        <div class="erip-payment-name-container">
                                            <span class="label">
                                                Payment:
                                            </span>
                                            <span class="erip-payment-name">
                                                {{reportEntry.paymentInfo.payment}}
                                            </span>
                                        </div>

                                        <div class="erip-payment-fields-container">
                                            <span class="label">
                                                Payment Fields
                                            </span>
                                            <ul class="erip-payment-fields">
                                                <li class="erip-payment-field-container"
                                                    ng-repeat="(key, value) in reportEntry.paymentInfo.fields">
                                                    <span class="label">
                                                        {{key}}:
                                                    </span>
                                                    <span class="field-value">
                                                        {{value}}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="money-transfer-statement-operation-info" ng-if="!reportEntry.isEripPayment">
                                        <div class="outgoing-money-transfer-statement-operation-info statement-operation-info"
                                             ng-if="reportEntry.giverAccountId === $parent.account.id">
                                            <div class="recipient-bank-name-container"
                                                 ng-if="reportEntry.paymentInfo
                                                    && reportEntry.paymentInfo.recipientBank">
                                                <span class="label">
                                                    Recipient Bank Name:
                                                </span>
                                                <span class="recipient-bank-name">
                                                    {{reportEntry.paymentInfo.recipientBanku}}
                                                </span>
                                            </div>
                                            <div class="recipient-name-container">
                                                <span class="label">
                                                    Recipient Name:
                                                </span>
                                                <span class="recipient-name">
                                                    {{reportEntry.recipientFirstName}}
                                                    {{reportEntry.recipientLastName}}
                                                </span>
                                            </div>
                                            <div class="recipient-account-number-container">
                                                <span class="label">
                                                    Recipient Account Number:
                                                </span>
                                                <span class="recipient-account-number">
                                                    {{reportEntry.recipientAccountId}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="incoming-money-transfer-statement-operation-info statement-operation-info"
                                             ng-if="reportEntry.giverAccountId !== $parent.account.id">
                                            <div class="giver-bank-name-container"
                                                 ng-if="reportEntry.paymentInfo
                                                    && reportEntry.paymentInfo.giverBank">
                                                <span class="label">
                                                    Payer's Bank Name:
                                                </span>
                                                <span class="giver-bank-name">
                                                    {{reportEntry.paymentInfo.giverBank}}
                                                </span>
                                            </div>
                                            <div class="giver-name-container">
                                                <span class="label">
                                                    Payer:
                                                </span>
                                                <span class="giver-name">
                                                    {{reportEntry.giverFirstName}}
                                                    {{reportEntry.giverLastName}}
                                                </span>
                                            </div>
                                            <div class="giver-account-number-container">
                                                <span class="label">
                                                    Payer's Account Number:
                                                </span>
                                                <span class="giver-account-number">
                                                    {{reportEntry.giverAccountId}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="statement-operation-operation-amount-container col-xs-3">
                                    <span class="statement-operation-amount">
                                        {{reportEntry.amount}}
                                        <span class="amount-currency"
                                            title="{{currentAccountCurrency
                                                        && currentAccountCurrency.nameLocalized[localizationService.currentLocale.code]
                                                    ? currentAccountCurrency.nameLocalized[localizationService.currentLocale.code]
                                                    : account.currency}}">

                                            {{currentAccountCurrency
                                                ? currentAccountCurrency.code
                                                : account.currency}}
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="no-operations-found-message-container" ng-show="!reportEntries.length">
                            <h3 class="no-operations-found-message">
                                No operations found for your filters :(
                            </h3>
                        </div>
                    </div>

                    <div class="statement-report-list-pagination-container"
                         ng-hide="reportEntries.length / itemsPerPage <= 1">
                        <pagination class="pagination-sm"
                            ng-model="currentPageNumber"
                            total-items="reportEntries.length"
                            items-per-page="itemsPerPage"
                            max-size="maxPaginationSize"
                            boundary-links="true"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;">
                        </pagination>
                    </div>

                    <div class="statement-report-final-balance-container">
                        Final account balance: {{account.balance}}
                        <span class="balance-currency"
                            title="{{currentAccountCurrency
                                        && currentAccountCurrency.nameLocalized[localizationService.currentLocale.code]
                                    ? currentAccountCurrency.nameLocalized[localizationService.currentLocale.code]
                                    : account.currency}}">

                            {{currentAccountCurrency
                                ? currentAccountCurrency.code
                                : account.currency}}
                        </span>
                    </div>
                </div>

                <custom-spinner ng-show="isBusy"></custom-spinner>
            </div>
        </div>
    </div>
</div>