<h3>Report [[report.id]]</h3>

<table class="table">
    <tr>
        <th>Task</th>
        <td>[[report.task_name]]</td>
    </tr>
    <tr>
        <th>UUID</th>
        <td>[[report.task_uuid]]</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            <span class="label label-success" ng:show="report.success">SUCCEEDED</span>
            <span class="label label-danger" ng:hide="report.success">FAILED</span>
        </td>
    </tr>
    <tr>
        <th>Reason</th>
        <td>
            [[log.failed]] 
            <span ng:show="log.exception">Exception: [[log.exception]]</span>
        </td>
    </tr>
    <tr ng:show="log.traceback">
        <th>Traceback</th>
        <td>
            <pre>[[log.traceback]]</pre>
        </td>
    </tr>
    <tr>
        <th>Finished</th>
        <td>
            [[report.date|date:'medium']]
        </td>
    </tr>
</table>

<h3>Log</h3>

<div ng:repeat="log in log.children" bindonce>
    <ng:include src="'/template/main/partial/tasks/log-entry.html'" />
</div>