<div class="header-content">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container container-fluid">
            <div class="nav navbar-nav navbar-left menu-open-button-container">
                <a class="menu-open-button" ng-click="toggleLeftMenu()">
                    <span translate>Menu</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <left-menu is-open="isLeftMenuOpen">
                <ul class="menu-links-list">
                    <li class="menu-link-container" ui-sref-active="active">
                        <a class="menu-link" ui-sref="main.authenticated.currency" translate>
                            Currency Information
                        </a>
                    </li>
                    <li class="menu-link-container" ui-sref-active="active">
                        <a class="menu-link" ui-sref="main.authenticated.accounts" translate>
                            Accounts
                        </a>
                    </li>
                    <li class="menu-link-container" ui-sref-active="active">
                        <a class="menu-link" ui-sref="main.authenticated.payments.erip" translate>
                            ERIP Payments
                        </a>
                    </li>
                    <li class="menu-link-container" ui-sref-active="active">
                        <a class="menu-link" ui-sref="main.authenticated.payments.moneyTransfer" translate>
                            Money Transfer
                        </a>
                    </li>
                    <li class="menu-link-container" ui-sref-active="active">
                        <a class="menu-link" ui-sref="main.authenticated.manageAutomaticAccountOperations" translate>
                            Manage Automatic Acccount Operations
                        </a>
                    </li>
                </ul>
            </left-menu>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="language-selection-container" language-selector>
                    </div>
                </li>
                <li class="user-menu-dropdown dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">
                        <span class="first-name"
                              ng-show="userInfoService.currentUserInfo.name.firstName !== ''">
                            {{userInfoService.currentUserInfo.name.firstName}}
                        </span>
                        <span class="middle-name"
                              ng-show="userInfoService.currentUserInfo.name.middleName !== ''">
                            {{userInfoService.currentUserInfo.name.middleName}}
                        </span>
                        <span class="last-name"
                              ng-show="userInfoService.currentUserInfo.name.lastName !== ''">
                            {{userInfoService.currentUserInfo.name.lastName}}
                        </span>
                    </span>
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="notifications-link-container">
                            <a class="notifications-link" href="#">
                                <span translate>Notifications</span>
                                <span class="badge notifications-counter-badge"
                                      ng-show="getUnreadNotificationsCount()">
                                      {{getUnreadNotificationsCount()}}
                                </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="main.authenticated.manageAccount.changePassword" translate>
                                Manage Account
                            </a>
                        </li>
                        <li class="logout-link-container">
                            <a class="logout-link" ng-click="logOut()" translate>
                                Log Out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>