<div class="page-container about-page-container">
    <div class="page-title-container">
        <h3 class="page-title" translate>
            About
        </h3>
    </div>

    <div class="page-verbiage-cotainer">
        <div class="verbiage-localized-container"
            ng-if="localizationService.currentLocale.code === 'ru'">
            <span class="verbiage-localized">
                <b>Гамма Е-Банк</b> - самый удобный способ управлять вашими финансами с любого устройства в Ваших в руках.
                Гамма Е-Банк - это сервис для людей которые дорожат своим временем. Клиент пользующийся нашими услугами в среднем
                экономит от нескольких дней до нескольких недель в год. Это время которое мы можем потратить для чего-то более значимого,
                чем стояние в очередях.
            </span>
        </div>
        <div class="verbiage-localized-container"
            ng-if="localizationService.currentLocale.code === 'be'">
            <span class="verbiage-localized">
                <b>Гама Е-Банк</b> - самы зручны спосаб кіраваць вашымі фінансамі з любога ўладкавання ў Вашых ў руках.
                Гама Е-Банк - гэта сэрвіс для людзей якія шануюць свой час. Кліент які карыстаецца нашымі паслугамі ў сярэднім
                эканоміць ад некалькіх дзён да тыдняў. Гэты час які мы можам выдаткаваць для чагосьці больш значнага, чым стаянне ў чэргах.
            </span>
        </div>
        <div class="verbiage-localized-container"
            ng-if="localizationService.currentLocale.code === 'en'">
            <span class="verbiage-localized">
                <b>Gamma E-Bank</b> is the most convenient way to manage your finances from any device in your hands.
                Gamma E-Bank is a service for people who value their time. The customer who use our services saves from several days to weeks
                in average. This time is the time we can spend for something more significant than standing in lines.
            </span>
        </div>
    </div>

    <div class="page-signature-container">
        <div class="signature-localized-container"
            ng-if="localizationService.currentLocale.code === 'ru'">
            <span class="signature-localized">
                <b>Гамма Е-Банк - мы вдохновляем.</b>
            </span>
        </div>
        <div class="signature-localized-container"
            ng-if="localizationService.currentLocale.code === 'be'">
            <span class="signature-localized">
                <b>Гама Е-Банк - мы натхняем.</b>
            </span>
        </div>
        <div class="signature-localized-container"
            ng-if="localizationService.currentLocale.code === 'en'">
            <span class="signature-localized">
                <b>Gamma E-Bank - we inspire.</b>
            </span>
        </div>
    </div>

    <div class="page-subtitle-container">
        <div class="subtitle-localized-container"
            ng-if="localizationService.currentLocale.code === 'ru'">
            <h3 class="subtitle-localized">
                Познакомьтесь с нашей командой
            </h3>
        </div>
        <div class="subtitle-localized-container"
            ng-if="localizationService.currentLocale.code === 'be'">
            <h3 class="subtitle-localized">
                Пазнаёмцеся з нашай камандай
            </h3>
        </div>
        <div class="subtitle-localized-container"
            ng-if="localizationService.currentLocale.code === 'en'">
            <h3 class="subtitle-localized">
                Meet our team
            </h3>
        </div>
    </div>

    <div class="team-info-container row">
        <div class="team-member-info-contaimer col-xs-3">
            <div class="team-member-picture-container">
                <img class="team-member-picture-background-image"
                    src="/static/main/images/dream-team-photo/kiryl.png"/>

                <div class="member-name-container">
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-first-name-localized">
                            Кирилл
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-first-name-localized">
                            Кірыл
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-first-name-localized">
                            Kiryl
                        </span>
                    </div>

                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-last-name-localized">
                            Андрусский
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-last-name-localized">
                            Андрускі
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-last-name-localized">
                            Andrusky
                        </span>
                    </div>
                </div>

                <div class="horizontal-divider"></div>

                <div class="links-container">
                    <div class="link-container github-link-container">
                        <a class="github-link fa fa-github"
                            href="https://github.com/kirylandruski"
                            target="_blank"
                            alt="GitHub"></a>
                    </div>
                    <div class="link-container linkedin-link-container">
                        <a class="linkedin-link fa fa-linkedin"
                            href="https://www.linkedin.com/profile/view?id=364854426"
                            target="_blank"
                            alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <div class="responsibilities-container">
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'ru'">
                    <span class="responsibilities-localized">
                        Управление проектом, локализация, проверка качества
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'be'">
                    <span class="responsibilities-localized">
                        Кіраванне праектам, лакалізацыя, праверка якасці
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'en'">
                    <span class="responsibilities-localized">
                        Project management, localization, quality assurance
                    </span>
                </div>
            </div>
        </div>
        <div class="team-member-info-contaimer col-xs-3">
            <div class="team-member-picture-container">
                <img class="team-member-picture-background-image"
                    src="/static/main/images/dream-team-photo/mikhail.png"/>

                <div class="member-name-container">
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-first-name-localized">
                            Михаил
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-first-name-localized">
                            Міхаіл
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-first-name-localized">
                            Michael
                        </span>
                    </div>

                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-last-name-localized">
                            Асташкевич
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-last-name-localized">
                            Асташкевіч
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-last-name-localized">
                            Astashkevich
                        </span>
                    </div>
                </div>

                <div class="horizontal-divider"></div>

                <div class="links-container">
                    <div class="link-container github-link-container">
                        <a class="github-link fa fa-github"
                            href="https://github.com/asmisha"
                            target="_blank"
                            alt="GitHub"></a>
                    </div>
                    <div class="link-container linkedin-link-container">
                        <a class="linkedin-link fa fa-linkedin"
                            href="https://www.linkedin.com/profile/view?id=207763350"
                            target="_blank"
                            alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <div class="responsibilities-container">
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'ru'">
                    <span class="responsibilities-localized">
                        Сервер банка, API банка, архитектура проекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'be'">
                    <span class="responsibilities-localized">
                        Сервер банка, API банка, архітэктура праекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'en'">
                    <span class="responsibilities-localized">
                        Bank server, bank API, project architecture
                    </span>
                </div>
            </div>
        </div>
        <div class="team-member-info-contaimer col-xs-3">
            <div class="team-member-picture-container">
                <img class="team-member-picture-background-image"
                    src="/static/main/images/dream-team-photo/nikita.png"/>

                <div class="member-name-container">
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-first-name-localized">
                            Никита
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-first-name-localized">
                            Мікіта
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-first-name-localized">
                            Nikita
                        </span>
                    </div>

                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-last-name-localized">
                            Клюшников
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-last-name-localized">
                            Клюшнікаў
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-last-name-localized">
                            Klyushnikov
                        </span>
                    </div>
                </div>

                <div class="horizontal-divider"></div>

                <div class="links-container">
                    <div class="link-container github-link-container">
                        <a class="github-link fa fa-github"
                            href="https://github.com/nightbrownie"
                            target="_blank"
                            alt="GitHub"></a>
                    </div>
                    <div class="link-container linkedin-link-container">
                        <a class="linkedin-link fa fa-linkedin"
                            href="https://www.linkedin.com/profile/view?id=196945364"
                            target="_blank"
                            alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <div class="responsibilities-container">
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'ru'">
                    <span class="responsibilities-localized">
                        Клиент банка, дизайн клиента банка, архитектура проекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'be'">
                    <span class="responsibilities-localized">
                        Кліент банка, дызайн кліента банка, архітэктура праекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'en'">
                    <span class="responsibilities-localized">
                        Bank client, bank client design, project architecture
                    </span>
                </div>
            </div>
        </div>
        <div class="team-member-info-contaimer col-xs-3">
            <div class="team-member-picture-container">
                <img class="team-member-picture-background-image"
                    src="/static/main/images/dream-team-photo/evgeny.png"/>

                <div class="member-name-container">
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-first-name-localized">
                            Евгений
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-first-name-localized">
                            Яўген
                        </span>
                    </div>
                    <div class="member-first-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-first-name-localized">
                            Eugene
                        </span>
                    </div>

                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'ru'">
                        <span class="member-last-name-localized">
                            Паньков
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'be'">
                        <span class="member-last-name-localized">
                            Панькоў
                        </span>
                    </div>
                    <div class="member-last-name-localized-contaimer"
                        ng-if="localizationService.currentLocale.code === 'en'">
                        <span class="member-last-name-localized">
                            Pankov
                        </span>
                    </div>
                </div>

                <div class="horizontal-divider"></div>

                <div class="links-container">
                    <div class="link-container github-link-container">
                        <a class="github-link fa fa-github"
                            href="https://github.com/eugeny"
                            target="_blank"
                            alt="GitHub"></a>
                    </div>
                    <div class="link-container linkedin-link-container">
                        <a class="linkedin-link fa fa-linkedin"
                            href="https://www.linkedin.com/profile/view?id=51419935"
                            target="_blank"
                            alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <div class="responsibilities-container">
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'ru'">
                    <span class="responsibilities-localized">
                        Сервер клиента банка, API клиента банка, архитектура проекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'be'">
                    <span class="responsibilities-localized">
                        Сервер кліента банка, API кліента банка, архітэктура праекта
                    </span>
                </div>
                <div class="responsibilities-localized-container"
                    ng-if="localizationService.currentLocale.code === 'en'">
                    <span class="responsibilities-localized">
                        Bank client server, bank client API, project architecture
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>