<div ng:controller="MediaFileListCtrl" ng:show="files.length">
    <div class="toolbar">
        <div class="dropdown-custom pull-left" smart-dropdown>
            <button class="btn btn-default" type="button" smart-dropdown-toggle>
                <i class="fa fa-tags"></i> Tags
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width:300px">
                <li ng:repeat="tag in tags">
                    <div>
                        <div class="pull-right">
                            <a ng:click="addTag(tag)" ng:show="hasSelection()" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> Apply</a>
                            &nbsp;
                            <a ng:click="removeTag(tag)" ng:show="hasSelection()" class="btn btn-default btn-xs"><i class="fa fa-times"></i> Remove</a>
                            <a ng:click="deleteTag(tag)" ng:hide="hasSelection()" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
                        </div>
                        <span class="label label-[[getTagColor(tag.name)]]"><i class="fa fa-tag"></i> [[tag.name]]</span>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <p class="input-group icon-inline">
                            <input type="text" ng:model="newTagName" ng:enter="createTag(newTagName)" placeholder="New tag" class="form-control input-sm" />
                            <span class="input-group-addon">
                                <a ng:click="createTag(newTagName)"><i class="fa fa-plus"></i></a>
                            </span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dropdown-custom pull-left" smart-dropdown>
            &nbsp;
            <button class="btn btn-default" type="button" smart-dropdown-toggle ng:disabled="!hasSelection()">
                <i class="fa fa-pencil"></i> Edit custom fields
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width:300px">
                <li ng:repeat="field_name in root.custom_fields">
                    <div>
                       <input type="text" ng:model="newCustomFields[field_name]" placeholder="[[field_name]]" class="form-control" />
                    </div>
                </li>
                <li>
                    <a ng:click="setCustomFields()" closes-dropdown><i class="fa fa-check"></i> Set fields</a>
                </li>
            </ul>
        </div>
        &nbsp;
        <a href="/media/search/[[rootId]]" class="btn btn-default" ng:show="showSearch">
            <i class="fa fa-search"></i> Search
        </a>
    </div>

    <div class="clearfix"></div>

    <div>
        <a ng:click="goUp()" ng:show="file.parent && file.id != root.root.id" class="media-file directory">
            <div class="image">
                <i class="fa fa-arrow-up"></i>
            </div>
            <span class="title">
                One level up
            </span>
        </a>

        <a ng:click="open(file)" ng:repeat="file in files | orderBy:['is_dir', 'name']" class="media-file type-[[file.asset.type]]"
            ng:class="{directory: file.is_dir, file: !file.is_dir, nothumbnail: file.nothumbnail}" 
            custompopover popover-template="file-popover.html" popover-scope="file">
            <div class="image" ng:if="file.is_dir">
                <i class="fa fa-folder-o"></i>
                <span ng:hide="file.present" class="label label-warning">REMOVED</i>
            </div>
            <div class="image" ng:if="!file.is_dir">
                <img class="one" bn-lazy-src="/api/media/stream/[[file.asset.id]]/thumb.jpeg" on-src-error="file.nothumbnail = true" />
                <img class="two" ng:if="file.asset.type == 'video'" bn-lazy-src="/api/media/stream/[[file.asset.id]]/thumb.gif" on-src-error="file.nothumbnail = true" />
                <i class="fa fa-clock-o nothumbnail"></i>
                <span ng:hide="file.asset.has_files" class="label label-warning">REMOVED</i>
            </div>
            <span class="title no-wrap">
                [[file.name]]
            </span>
            <span class="approval label label-success" ng:show="getEntry(file).approval_status == 1">
                <i class="fa fa-thumbs-up"></i>
            </span>
            <span class="approval label label-danger" ng:show="getEntry(file).approval_status == 2">
                <i class="fa fa-thumbs-down"></i>
            </span>
            <span class="approval label label-warning" ng:show="getEntry(file).approval_status == 3">
                <i class="fa fa-question"></i>
            </span>
            <span ng:model="file.selected" class="form-control" ng:click="$event.stopPropagation()" checkbox text=""></span>
        </a>

        <div class="clearfix"></div>
    </div>
</div>


<script type="text/ng-template" id="file-popover.html">
<div ng:show="scope.is_dir">
    Directory
</div>
<small ng:hide="scope.is_dir">
    <table class="table table-condensed" style="word-wrap: break-word">
        <tr>
            <th>Asset ID</th>
            <td>[[scope.asset.id]]</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>[[scope.asset.type]]</td>
        </tr>
        <tr ng:if="getEntry(scope).tags">
            <th>Tags</th>
            <td>
                <span ng:repeat="tag in getEntry(scope).tags">
                    <span class="label label-[[getTagColor(tag)]]">[[tag]]</span>&nbsp;
                </span>
            </td>
        </tr>
        <tr ng:repeat="(k,v) in getEntry(scope).custom_fields">
            <th>[[k]]</th>
            <td>[[v]]</td>
        </tr>
        <tr ng:if="scope.asset.info.pages">
            <th>Pages</th>
            <td>[[scope.asset.info.pages]]</td>
        </tr>
        <tr ng:if="scope.asset.info.type">
            <th>Type</th>
            <td>[[scope.asset.info.type]]</td>
        </tr>
        <tr ng:if="scope.asset.info.width">
            <th>Resolution</th>
            <td>[[scope.asset.info.width]]x[[scope.asset.info.height]]</td>
        </tr>
        <tr ng:if="scope.asset.info.duration">
            <th>Duration</th>
            <td>[[scope.asset.info.duration | time:scope.asset.info.fps ]]</td>
        </tr>
        <tr ng:if="scope.asset.info.acodec_long">
            <th>Audio</th>
            <td>[[scope.asset.info.acodec_long]]</td>
        </tr>
        <tr ng:if="scope.asset.info.vcodec_long">
            <th>Video</th>
            <td>[[scope.asset.info.vcodec_long]]</td>
        </tr>
        <tr>
            <th>Location</th>
            <td style="max-width: 180px">[[scope.path]]</td>
        </tr>
    </table>
</small>
</script>