<h3>
    <i class="fa fa-search"></i> [[root.name]]
</h3>

<div class="row">
    <div class="col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input class="form-control" type="search" ng:model="query" ng:enter="search(query)" placeholder="Search..." />
        </div>
    </div>

    <div class="col-sm-2">
        <div class="btn-group btn-group-justified">
            <a ng:model="searchLocation" btn-radio="'disk'" class="btn btn-default">
                <i class="fa fa-database" tooltip="On disk" tooltip-placement="bottom"></i> 
            </a>
            <a ng:model="searchLocation" btn-radio="'archive'" class="btn btn-default">
                <i class="fa fa-barcode" tooltip="Archived" tooltip-placement="bottom"></i> 
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="btn-group btn-group-justified">
            <a ng:model="searchType" btn-radio="'all'" class="btn btn-default">
                <i class="fa fa-asterisk" tooltip="Search everywhere" tooltip-placement="bottom"></i> 
            </a>
            <a ng:model="searchType" btn-radio="'name'" class="btn btn-default">
                <i class="fa fa-font" tooltip="Names" tooltip-placement="bottom"></i> 
            </a>
            <a ng:model="searchType" btn-radio="'tags'" class="btn btn-default">
                <i class="fa fa-tags" tooltip="Tags" tooltip-placement="bottom"></i> 
            </a>
            <a ng:model="searchType" btn-radio="'extra'" class="btn btn-default">
                <i class="fa fa-table" tooltip="Extra fields" tooltip-placement="bottom"></i> 
            </a>
            <a ng:model="searchType" btn-radio="'comments'" class="btn btn-default">
                <i class="fa fa-comment" tooltip="Comments" tooltip-placement="bottom"></i> 
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <a ng:click="search(query)" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Search
        </a>
    </div>
</div>

<br/>

<div>
    <div ng:show="loading" class="text-center">
        <i class="fa fa-circle-o-notch fa-spin"></i> Searching...
    </div>

    <div ng:show="query && !loading && files.length == 0" class="text-center">
        Nothing found
    </div>

    <ng:include src="'/template/main/partial/media/inc-filelist.html'" />
    <div class="clearfix"></div>
</div>
