<h3>Updates</h3>

<div preloader data="updates.$resolved">
    <filterbox ng:model="filter" />

    <div class="panel panel-default" ng:repeat="update in updates|filter:filterFunc|orderBy:'-date'">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="pull-right">
                    [[update.date | date:'medium']]
                </span>
                <i class="fa fa-comment" ng:show="update.type == 'comment'"></i>
                <i class="fa fa-pencil" ng:show="update.type == 'custom-fields'"></i>
                <i class="fa fa-thumbs-up" ng:show="update.type == 'approve'"></i>
                <i class="fa fa-thumbs-down" ng:show="update.type == 'disapprove'"></i>
                &nbsp;
                <strong>[[update.user.username]]</strong>
                &nbsp;
                <span ng:show="update.type == 'comment'">commented on</span>
                <span ng:show="update.type == 'custom-fields'">edited custom fields on</span>
                <span ng:show="update.type == 'approve'">approved</span>
                <span ng:show="update.type == 'disapprove'">disapproved</span>
                &nbsp;
                <a href="/media/view/[[update.entry.root.id]]/[[update.entry.asset.id]]">
                    [[update.entry.asset.display_name]]
                </a>
            </h3>
        </div>
        <div class="panel-body" ng:show="update.comment">
            [[update.comment.text]]
        </div>
    </div>
</div>