<div class="pull-right">
    <a href="/media/search/[[rootId]]" class="btn btn-default">
        <i class="fa fa-search"></i> Search
    </a>
</div>

<div preloader data="asset.id && assetEntry.id" text="Loading asset">
    <h4>[[asset.display_name]]</h4>      

    <div class="clearfix"></div>

    <br/>

    <div ng:if="asset.type == 'pdf'">
        <div class="pdf-viewer" ng:if="streamUrl" pdf:src="streamUrl">
        </div>
    </div>

    <div ng:if="asset.type == 'image'">
        <div class="image-viewer">
            <img ng:src="/api/media/stream/[[asset.id]]/proxy.png" />
        </div>
    </div>

    <div ng:show="asset.type == 'video'">
        <div>
            <video-player autoplay="true" controls="true" connector="videoReady(connector)" />
        </div>

        <div ng:show="visible" ng:controller="MediaViewCutterCtrl">
            <br/>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a ng:click="save()" ng:show="t_in_set && t_out_set && !invalid" class="btn btn-default"><i class="fa fa-check"></i></a>
                        <a ng:click="visible = false" class="btn btn-default"><i class="fa fa-times"></i></a>
                    </div>

                    <div class="toolbar">
                        <a ng:click="doIn()" class="btn btn-default">IN <i class="fa fa-step-forward"></i></a>
                        &nbsp;
                        <code>[[ t_in|time:asset.info.fps ]] - [[ t_out|time:asset.info.fps ]]</code>
                        &nbsp;
                        <a ng:click="doOut()" class="btn btn-default"><i class="fa fa-step-backward"></i> OUT</a>
                        &nbsp;
                        <span ng:show="invalid"><i class="fa fa-warning"></i> Invalid cut!</span>

                        &nbsp;
                        &nbsp;

                        <div class="btn-group">
                            <div ng:click="seekFrames(-5)" class="btn btn-default">
                                <i class="fa fa-fast-backward"></i>
                            </div>
                            <div ng:click="seekFrames(-1)" class="btn btn-default">
                                <i class="fa fa-step-backward"></i>
                            </div>
                            <div ng:click="seekFrames(+1)" class="btn btn-default">
                                <i class="fa fa-step-forward"></i>
                            </div>
                            <div ng:click="seekFrames(+5)" class="btn btn-default">
                                <i class="fa fa-fast-forward"></i>
                            </div>
                        </div>

                        &nbsp;
                        <input ng:model="description" placeholder="Description" type="text" class="form-control" style="width: 180px; display: inline-block;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div>
        <div class="pull-right">
            <div class="dropdown pull-right" ng:show="permission.allow_proxy_download || permission.allow_original_download">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-download"></i> Download
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng:show="permission.allow_original_download && locations.files">
                        <a href="/api/media/stream/[[asset.id]]/origin/[[asset.display_name]]" target="_blank">Original</a>
                    </li>
                    <li ng:show="permission.allow_proxy_download && asset.type == 'video'">
                        <a href="/api/media/stream/[[asset.id]]/proxy.mp4" target="_blank" title="H.264 / AAC">MP4</a>
                    </li>
                    <li ng:show="permission.allow_proxy_download && asset.type == 'image'">
                        <a href="/api/media/stream/[[asset.id]]/proxy.png" target="_blank">Preview</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            &nbsp;
            <a ng:click="beginCut()" ng:show="asset.type == 'video'" class="btn btn-default"><i class="fa fa-scissors"></i> Cut</a>
            &nbsp;
            <div class="btn-group">
                <a ng:click="approve(true)" class="btn btn-default"><i class="fa fa-thumbs-up"></i> Approve</a>
                <a class="btn btn-default" disabled="disabled">[[approvals_positive]]</a>
            </div>
            &nbsp;
            <div class="btn-group">
                <a ng:click="approve(false)" class="btn btn-default"><i class="fa fa-thumbs-down"></i> Disapprove</a>
                <a class="btn btn-default" disabled="disabled">[[approvals_negative]]</a>
            </div>
            &nbsp;
        </div>
        <div class="pull-right">
            <div class="dropdown-custom open">
                <a class="btn btn-default" ng:click="status.shareDropdownOpen = !status.shareDropdownOpen">
                    <i class="fa fa-share-alt"></i> Share
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" ng:show="status.shareDropdownOpen" ng:controller="ShareLinkCtrl" style="width:300px">
                    <li ng:show="linkReady">
                        <div>
                            <label>Your link</label>
                            <input type="text" autoselect readonly ng:model="link" class="form-control" />
                        </div>
                    </li>
                    <li ng:show="loading">
                        <div>
                            <i class="fa fa-circle-o-notch fa-spin"></i> Generating link
                        </div>
                    </li>
                    <li ng:hide="linkReady || loading">
                        <div class="form-group">
                            <label>Limit views</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span ng:model="newToken.view_limit_enabled" class="form-control" checkbox text="Limit"></span>
                                </div>
                                <div class="col-sm-6" ng:show="newToken.view_limit_enabled">
                                    <input type="number" class="form-control" ng:model="newToken.view_limit_left" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Expires</label>
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng:model="newToken.expires" is-open="dpOpened" ng:click="dpOpened=true" close-text="Close" />
                        </div>
                    </li>
                    <li ng:hide="linkReady || loading">
                        <a ng:click="share()">
                            <i class="fa fa-share-alt"></i> Create link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <br/>

    <div class="row">
        <div class="col-sm-7">
            <tabset>
                <tab heading="Comments">
                    <p>
                        <div class="comment-form row">
                            <div class="col-xs-9">
                                <input ng:enter="postComment(commentText); commentText=''" type="text" class="form-control" ng:model="commentText" />
                            </div>
                            <div class="col-xs-3">
                                <a ng:click="postComment(commentText); commentText=''" class="btn btn-primary btn-block"><i class="fa fa-comment"></i> Post</a>
                            </div>
                        </div>
                    </p>

                    <p>
                        <div class="panel panel-default" ng:repeat="comment in assetEntry.comments | orderBy:'-date'">
                            <div class="panel-heading" id="comment-[[comment.id]]">
                                <h3 class="panel-title">
                                    <span class="pull-right">
                                        [[comment.date | date:'medium']]
                                        &nbsp;
                                        <a ng:click="deleteComment(comment)" ng:show="comment.user.id = me.id">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </span>
                                    <strong>[[comment.user.username]]</strong>&nbsp;
                                    on
                                    &nbsp;
                                    <a href="#" ng:show="asset.type == 'video'"
                                        ng:click="video.seek(comment.time)">
                                        [[comment.time | time:asset.info.fps]]
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                [[comment.text]]
                            </div>
                        </div>
                    </p>
                </tab>

                {% if elementsuser.admin_access or elementsuser.staff_access  %}
                <tab heading="Locations">
                    <h4>Files</h4>
                    <p>
                        <table class="table table-bordered">
                            <tr>
                                <th>Volume</th>
                                <th>Location</th>
                                <th ng:if="system.components.ltfs"></th>
                            </tr>
                            <tr ng:repeat="file in locations.files | orderBy:'name'">
                                <td>
                                    <i class="fa fa-database"></i> [[file.volume.name]]
                                </td>
                                <td style="max-width: 200px" class="word-wrap">
                                    [[file.path]]
                                    <span ng:hide="file.present" class="label label-warning">REMOVED</i>
                                </td>
                                <td ng:if="system.components.ltfs" width="1">
                                    <a ng:show="file.present" ng:click="createBackup(file)" class="btn btn-default"><i class="fa fa-download"></i> Archive</a>
                                </td>
                            </tr>
                        </table>
                    </p>

                    <div ng:show="system.components.ltfs">
                        <div ng:show="locations.backups.length">
                            <h4>Archived files</h4>
                            <p>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Tape</th>
                                        <th>Path</th>
                                        <th></th>
                                    </tr>
                                    <tr ng:repeat="backup in locations.backups | orderBy:'path'">
                                        <td>
                                            <i class="fa fa-barcode"></i> [[backup.entry.tape.name]]
                                        </td>
                                        <td class="word-wrap">
                                            [[backup.entry.path]]
                                        </td>
                                        <td>
                                            <a ng:click="restoreBackup(backup)" class="btn btn-default"><i class="fa fa-history"></i> Restore</a>
                                        </td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </tab>
                {% endif %}

                <tab heading="Approvals">
                    <p>
                        <table class="table table-bordered">
                            <tr>
                                <th>User</th>
                                <th>Approval</th>
                                <th>Date</th>
                            </tr>
                            <tr ng:repeat="approval in approvals | orderBy:'-date'">
                                <td>
                                    [[approval.user.username]]
                                </td>
                                <td>
                                    <span ng:show="approval.approved" class="label label-success">
                                        <i class="fa fa-thumbs-up"></i> Approved
                                    </span>
                                    <span ng:show="!approval.approved" class="label label-danger">
                                        <i class="fa fa-thumbs-down"></i> Disapproved
                                    </span>
                                </td>
                                <td>
                                    [[approval.date | date:'medium']]
                                </td>
                            </tr>
                        </table>
                    </p>
                </tab>

                <tab heading="Extra data">
                    <p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    Tags
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng:model="entryTags" />
                                </div>
                            </div>

                            <div class="form-group" ng:repeat="field_name in root.custom_fields">
                                <label class="col-sm-2 control-label">
                                    [[ field_name ]]
                                </label>
                                <div class="col-sm-10">
                                    <input ng:enter="saveCustomFields()" type="text" class="form-control" ng:model="assetEntry.custom_fields[field_name]" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button ng:click="saveCustomFields()" class="btn btn-primary">
                                        <i class="fa fa-ok"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </p>
                </tab>
            </tabset>
        </div>

        <div class="col-sm-5">
            <table class="table table-hover">
                <tr>
                    <th>Asset ID</th>
                    <td>[[asset.id]]</td>
                </tr>

                <tr ng:if="asset.info.pages">
                    <th>Pages</th>
                    <td>[[asset.info.pages]]</td>
                </tr>

                <tr ng:if="asset.info.type">
                    <th>Type</th>
                    <td>[[asset.info.type]]</td>
                </tr>
                <tr ng:if="asset.info.width">
                    <th>Resolution</th>
                    <td>[[asset.info.width]]x[[asset.info.height]]</td>
                </tr>
                <tr ng:if="asset.info.bpp">
                    <th>Color depth</th>
                    <td>[[asset.info.bpp]] bit</td>
                </tr>

                <tr ng:if="asset.info.duration">
                    <th>Duration</th>
                    <td>[[asset.info.duration | time:asset.info.fps]]</td>
                </tr>
                <tr ng:if="asset.info.acodec_long">
                    <th>Audio codec</th>
                    <td>[[asset.info.acodec_long]]</td>
                </tr>
                <tr ng:if="asset.info.vcodec_long">
                    <th>Video codec</th>
                    <td>[[asset.info.vcodec_long]]</td>
                </tr>
                <tr ng:if="asset.info.resolution">
                    <th>Resolution</th>
                    <td>[[asset.info.resolution]]</td>
                </tr>
                <tr ng:if="asset.info.fps">
                    <th>FPS</th>
                    <td>[[asset.info.fps]]</td>
                </tr>
                <tr ng:if="asset.info.sampling">
                    <th>Audio sampling</th>
                    <td>[[asset.info.sampling]]</td>
                </tr>
                <tr ng:if="asset.info.timecode">
                    <th>Timecode</th>
                    <td>[[asset.info.timecode | time:asset.info.fps]]</td>
                </tr>
                <tr ng:if="asset.info.system_timecode">
                    <th>System timecode</th>
                    <td>[[asset.info.system_timecode | time:asset.info.fps]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>