<div class="login-page-container">
    <div class="login-form-container">
        <div class="login-form-content">
            <div class="language-selection-container" language-selector>
            </div>

            <div class="logo-container">
                <span class="logo" translate>
                    Ɣ E-Bank
                </span>
            </div>

            <form class="login-form" role="form" name="loginForm" ng-submit="loginUser()">
                <div class="input-group">
                    <div class="input-group-addon" translate>Login</div>
                    <input type="text" class="form-control" placeholder="{{'Login'|translate}}"
                        name="login"
                        ng-required="true"
                        ng-model="login"/>
                    <validation-message validation-expressions="[{
                            isValid: (!loginForm.login.$dirty
                                || loginForm.login.$valid),
                            validationMessageText: gettext('The login is required')
                        }]">
                    </validation-message>
                </div>
                <div class="input-group">
                    <div class="input-group-addon" translate>Password</div>
                    <input type="password" class="form-control" placeholder="{{'Password'|translate}}"
                        name="password"
                        ng-required="true"
                        ng-model="password"/>
                    <validation-message validation-expressions="[{
                            isValid: (!loginForm.password.$dirty
                                || loginForm.password.$valid),
                            validationMessageText: gettext('The password is required')
                        }]">
                    </validation-message>
                </div>
                <div class="login-button-container">
                    <button type="submit" class="btn btn-block btn-success login-button">
                        <span translate>Sign In</span>
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>