<p>
    <a class="btn btn-default" ng:click="loadAll()" ng:hide="loadedAll"><i class="fa fa-eye"></i> Show hidden projects</a>
</p>

<filterbox ng:model="filter" />

<div class="list-group">
    <a href="/project/[[project.id]]" class="slide list-group-item" ng:repeat="project in projects | filter:filter | orderBy:'name'">
        <p class="pull-right">
            <span class="label label-danger" ng:show="project.workspaces.length == 0">
                No workspaces
            </span>
            <span class="label label-info" ng:show="project.workspaces.length == 1">
                One workspace
            </span>
            <span class="label label-success" ng:show="project.workspaces.length > 1">
                [[project.workspaces.length]] workspaces
            </span>
        </p>
        <div>
            <i class="fa fa-briefcase"></i> [[project.name]]
        </div>
        <p ng:show="!project.active">
            <span class="label label-danger">HIDDEN</span>
        </p>
        <p class="list-group-item-text">
            [[project.description]]
        </p>
    </a>
</div>

<div class="form-group">
    <input ng:enter="createProject(newProjectName)" required type="text" class="form-control" placeholder="New project name" ng:model="newProjectName" />
</div>
<div class="form-group">
    <a ng:click="createProject(newProjectName)" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Create project
    </a>
</div>


