<div class="toolbar">
    <div class="dropdown-custom pull-left" smart-dropdown>
        <button class="btn btn-default" type="button" smart-dropdown-toggle>
            <i class="fa fa-folder"></i> New directory
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width:200px">
            <li>
                <div>
                    <input type="text" autofocus ng:model="newDirectoryName" placeholder="New directory name" class="form-control" />
                </div>
            </li>
            <li>
                <a ng:click="createDirectory(newDirectoryName)" closes-dropdown>
                    <i class="fa fa-plus"></i> Create
                </a>
            </li>
        </ul>
    </div>

    &nbsp;
    &nbsp;
    &nbsp;

    <div class="btn-group">
        <a ng:click="doCut()" class="btn btn-default">
            <i class="fa fa-cut"></i> Normal
        </a>
        <a ng:click="doCopy()" class="btn btn-default">
            <i class="fa fa-copy"></i> Copy
        </a>
        <a ng:click="doDelete()" class="btn btn-default">
            <i class="fa fa-trash-o"></i> Delete
        </a>
    </div>

        <a ng:click="doCut()" class="btn btn-default" disabled>
            <i class="fa fa-cut"></i> Disabled
        </a>
</div>


            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <label class="form-control-static">workspace.name</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Move to a project</label>
                    <div class="col-sm-5">
                        <select class="form-control">
                        <option>1
                        <option>2
                        <option>3
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Placeholder" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="workspace.description" />
                    </div>
                </div>
                </div>



<br/>
<br/>

    <div class="list-group">
        <a class="list-group-item">
            <i class="fa fa-level-up"></i> ..
        </a>
        <a class="list-group-item">
            <span class="pull-right">123</span>
            
            <span ng:model="task.enabled" class="form-control" checkbox text="Enabled"></span>
            

            &nbsp;
            
            <i class="fa fa-folder-open"></i>
            <span>asd</span>
        </a>
    </div>

    <pagination total-items="999" items-per-page="100"></pagination>

