<filterbox ng:model="filter" />

<br/>

<div class="list-group">
    <a href="/workspace/[[workspace.id]]" class="slide list-group-item" ng:repeat="workspace in workspaces | filter:filter | orderBy:['project_name', 'name']" ng:disabled="!storage_status.volumes[workspace.volume.id].online" href="/workspace/[[workspace.id]]">

        <div class="pull-right">
            <div style="width: 200px">
                <smart-progress type="warning" max="workspace.quota.hard || storage_status.volumes[workspace.volume.id].size_total" max-text="(workspace.quota.hard || storage_status.volumes[workspace.volume.id].size_total) | bytes" value="workspace.quota.current" text="workspace.quota.current|bytes" ng:hide="!workspace.quota" /> 
            </div>
            <div class="pull-right text-right" style="width: 100px">
                <small ng:show="workspace.quota.hard">
                    <strong>Hard</strong>: [[workspace.quota.hard | bytes]]
                </small>
            </div>
            <div class="pull-right" style="width: 100px">
                <small ng:show="workspace.quota.soft">
                    <strong>Soft</strong>: [[workspace.quota.soft | bytes]]
                </small>
            </div>
        </div>

        <i class="fa fa-folder"></i> [[workspace.name]] 
        <br/>
        <small>
            <i class="fa fa-briefcase"></i> [[workspace.project_name]]  
        </small>
        <span class="label label-danger" ng:show="!storage_status.volumes[workspace.volume.id].online">
            <i class="fa fa-warning"></i> STORAGE OFFLINE
        </span>
        <p class="list-group-item-text">[[workspace.description]]</p>
    </a>
</div>