.accounts-page-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;

    .accounts-list-container {
        .account-list-header-container {
            .page-title-container {
                .page-title {

                }
            }

            .timestamp-container {
                .timestamp {

                }
            }

            .refresh-button-container {
                .refresh-button {

                }
            }
        }

        .accounts-list-header-container {
            width: 100%;
            overflow: hidden;

            .accounts-list-header {
                .account-number-header-container {
                    .account-number-header {

                    }
                }

                .currency-code-header-container{
                    .currency-code-header {

                    }
                }

                .account-balance-header-container {
                    .account-balance-header {

                    }
                }

                .actions-header-container {
                }
            }
        }

        .accounts-list {
            width: 100%;

            overflow: hidden;

            list-style: none;
            margin: 0;
            padding: 0;

            .account-container {
                .account-number-container {
                    .account-number {

                    }
                }

                .account-currency-code-container {
                    .account-currentcy-code {

                    }
                }

                .account-balance-container {
                    .account-balance {

                    }
                }

                .account-details-link-container {
                    .account-details-link {

                    }
                }
            }
        }
    }
}