.general-payment-info-form {
    width: 100%;

    .input-group {
        margin-bottom: 10px;

        .input-group-addon {
            min-width: @generalPaymentInfoFormInputGroupAddonWidth;
            max-width: @generalPaymentInfoFormInputGroupAddonWidth;

            word-wrap: break-word;
            white-space: normal;
        }
    }
}

.money-transfer-container {
    .input-group {
        .input-group-addon {
            min-width: @generalPaymentInfoFormInputGroupAddonWidth;
            max-width: @generalPaymentInfoFormInputGroupAddonWidth;

            word-wrap: break-word;
            white-space: normal;
        }
    }
}

.pay-btn-container {
    width: 100%;
    text-align: center;

    .btn {
        width: 100%;
    }
}