.currency-page-container {
    height: 100%;
    overflow-y: auto;

    .currency-header-container {
        

        .currency-header {
            margin: 10px 0;
            padding-bottom: 5px;

            text-align: center;

            border-bottom: 1px solid @currencyHeaderBorderColor;

            font-size: @pageHeaderTitleFontSize;
            line-height: @pageHeaderTitleFontSize;

            color: @pageHeaderTitleColor;
        }

        .timestamp-container {
            .timestamp {

            }
        }

        .refresh-button-container {
            .refresh-button {
            }
        }
    }

    .currency-list-header-container {

    }
}