header {
    position: fixed;
    z-index: 2;

    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        & > .navbar{
            height: @headerHeight;
            background-color: @headerBackgroundColor;
            border-color: @headerBorderColor;

            margin-bottom: 0;
            .border-radius(0);

            a {
                color: @linksColor;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: @linksHoverColor;
                    text-decoration: none;
                }
            }

            .menu-open-button-container {
                line-height: @menuButtonContainerHeight - 20px;
                margin: 10px 0;

                .menu-open-button {
                    padding: 5px;
                    display: inline-block;
                    line-height: 14px;
                    text-transform: uppercase;  

                    .border-radius(4px);
                    border: 1px solid transparent;
                    .transition(all ease .25s);

                    &:hover {
                        border-color: @menuButtonHoverBorderColor;
                    }
                }
            }

            .left-menu {
                .menu-links-list {
                    margin: 15px 0;
                    padding: 0 20px;
                    list-style: none;

                    .menu-link-container {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;

                        font-size: @leftMenuLinkFontSize;
                        border-bottom: 1px solid @leftMeuLinkContainerBorderColor;

                        &:last-of-type {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border: none;
                        }

                        &.active {
                            .menu-link {
                                color: @leftMenuActiveLinkColor;
                            }
                        }
                    }
                }
            }

            .language-selection-container {
                padding-right: 15px;
                border-right: 1px solid @delimiterBorderColor;

                margin: 10px 0;
                margin-right: 10px;

                .locale-list {
                    line-height: @languageSelectorLineHeight - 20px;
                }
            }

            .user-menu-dropdown {
                line-height: @userMenuButtonHeight;

                & > a {
                    padding: 5px;
                    display: inline-block;

                    .border-radius(4px);
                    border: 1px solid transparent;
                    .transition(all ease .25s);

                    &:hover {
                        border-color: @menuButtonHoverBorderColor;
                    }
                }

                &.open {
                    & > a {
                        border-color: @menuButtonHoverBorderColor;
                    }
                }
            }

            .notifications-link-container {
                .notifications-link {
                    .notifications-counter-badge {
                        background-color: @notificationsCounterBadgeBackgroundColor;
                        color: @notificationsCounterBadgeTextColor;

                        margin-left: 10px;
                    }
                }
            }
        }
    }
}