a,
a.btn {
    .transition(color ease .25s);

    color: @linksColor;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: @linksHoverColor;
        text-decoration: none;
    }
}

a.btn {
    &.disabled {
        color: @invalidColor;
    }
}

#main-content-container {
    position: fixed;
    left: 0;
    top: @headerHeight;
    bottom: @footerHeight;

    width: 100%;
}

#main-content {
    padding: 20px 0;
    height: 100%;
}

form,
[data-ng-form],
[ng-form] {
    input,
    textarea {
        .transition(all .25s ease);
    }

    &.ng-invalid.ng-dirty {
        .form-control {
            &.ng-invalid.ng-dirty:not(:focus) {
                border-color: @invalidColor;
                .box-shadow(0 0 8px @invalidColor;);
            }
        }
    }
}

button.btn {
    .transition(all .25s ease);

    &.disabled {
        border-color: @invalidColor;
        background-color: @invalidColor;

        &:focus {
            .box-shadow(none);
        }
    }
}

ul.pagination {
    margin-bottom: 0;

    li {
        a {
            color: @paginationTextColor;

            &:hover {
                color: @paginationTextColor;
            }
        }

        &.active {
            a {
                background-color: @paginationActiveBackgroundColor;
                color: @paginationActiveTextColor;
                border-color: @paginationActiveBorderColor;

                &:hover {
                    background-color: @paginationActiveBackgroundColor;
                    color: @paginationActiveTextColor;
                    border-color: @paginationActiveBorderColor;
                }
            }
        }
    }
}