.money-transfer-page-container {
    height: 100%;
    overflow-y: auto;

    .money-transfer-header-container {
        margin: 10px 0;
        padding-bottom: 5px;

        text-align: center;

        border-bottom: 1px solid @moneyTransferHeaderBorderColor;

        .money-transfer-header {
            margin: 0;

            font-size: @pageHeaderTitleFontSize;
            line-height: @pageHeaderTitleFontSize;

            color: @pageHeaderTitleColor;
        }
    }
}

.money-transfer-container {
    width: @moneyTransferContainerMaxWidth;

    margin-left: auto;
    margin-right: auto;

    .money-transfer-info-form {
        width: 100%;

        .recipient-account-number-container {
            margin-bottom: 10px;

            .input-group-addon {
                min-width: @moneyTransferInfoFormInputGroupAddonWidth;
            }
        }
    }
}