<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required ng:model="ltfsBackuper.job.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tape Groups</label>
        <div class="col-sm-10 form-inline">
            <select ng:options="x.id as x.name for x in tapegroups" required class="form-control" ng:model="ltfsBackuper.job.group"></select>
            <span ng:model="ltfsBackuper.job.export" class="form-control" checkbox text="Export tape 1"></span>
            &nbsp;
            <select ng:options="x.id as x.name for x in tapegroups" class="form-control" ng:model="ltfsBackuper.job.group2"></select>
            <span ng:model="ltfsBackuper.job.export2" class="form-control" checkbox text="Export tape 2"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Start time</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng:model="ltfsBackuper.job.start_date" is-open="dpOpened" ng:click="dpOpened=true" />
                </div>
                <div class="col-lg-6">
                    <timepicker class="timepicker" ng:model="ltfsBackuper.job.start_date" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Options</label>
        <div class="col-sm-10">
            <p>
                <span ng:model="ltfsBackuper.job.delete_source" class="form-control" checkbox text="Delete source"></span>
            </p>
            <p>
                <span ng:model="ltfsBackuper.job.md5" class="form-control" checkbox text="Save checksums to database"></span>
            </p>
        </div>
    </div>
</div>


<br/>

<h4>Files queued for archiving</h4>

<p>
    <filterbox ng:model="filter" />
</p>

<p>
    <table class="table table-bordered">
        <tr ng:repeat="path in ltfsBackuper.queue | filter:filter">
            <td>[[path]]</td>
            <td width="1">
                <a ng:click="ltfsBackuper.queue.splice($index, 1)" class="btn btn-danger btn-ink btn-sm">
                    <i class="fa fa-times"></i> Remove
                </a>
            </td>
        </tr>
    </table>
    <a ng:click="addDialogVisible = true" class="btn btn-default"><i class="fa fa-plus"></i> Add</a>
    <opendialog visible="addDialogVisible" on-select="addPath" root="'/data'" />
</p>


<div class="sticky-panel" ng:show="ltfsBackuper.queue.length">
    <a ng:click="start()" class="btn btn-primary">
        <i class="fa fa-download"></i>
        Start archiving
    </a>
    &nbsp;
    <a ng:click="ltfsBackuper.clear()" class="btn btn-default">
        <i class="fa fa-times"></i>
        Clear
    </a>
</div>