<div class="form-inline">
    <div class="form-group">
        <input ng:enter="generate()" ng:model="newcode.prefix" type="text" class="form-control" placeholder="Tape numbers" />
    </div>
    <div class="form-group">
        <input ng:enter="generate()" ng:model="newcode.numbers" type="text" class="form-control" placeholder="Tape numbers" />
    </div>
    <div class="form-group">
        <div class="btn-group">
            <a ng:model="newcode.type" btn-radio="'L5'" class="btn btn-default">LTO5</a>
            <a ng:model="newcode.type" btn-radio="'L6'" class="btn btn-default">LTO6</a>
            <a ng:model="newcode.type" btn-radio="'L7'" class="btn btn-default">LTO7</a>
        </div>
    </div>

</div>

<br/>

<div>
    <a class="btn btn-default" ng:click="generate()"><i class="fa fa-plus"></i> Generate</a>
    <a class="btn btn-default" ng:click="codes.length = 0"><i class="fa fa-times"></i> Clear</a>
    <a class="btn btn-default" ng:click="print()"><i class="fa fa-print"></i> Print</a>
</div>

<br/>

<div class="well scroll" style="height: 335px">
    <div class="barcodes-page-container">
        <div class="barcodes-page">
            <barcode value="code.value" ng:repeat="code in codes" />
        </div>
    </div>
</div>