<p>
    <a ng:click="removeFinished()" class="btn btn-default"><i class="fa fa-trash-o"></i> Remove finished</a>
    <a ng:click="cancelAll()" class="btn btn-default"><i class="fa fa-times"></i> Cancel all</a>
</p>
<p>
    <filterbox ng:model="filter" />
</p>

<p>
    <table class="slide table table-bordered" style="table-layout: fixed">
        <tr ng:repeat="job in jobs | filter:filter">
            <td style="width: 50px">
                <div>[[job.id]]</div>
            </td>
            <td style="width: 250px">
                <div>[[job.name]]</div>
                <div>[[job.type]]</div>
            </td>
            <td style="width: 90px">
                <div>[[job.destination]]</div>
                <div>[[job.group_name]]</div>
            </td>
            <td style="width: 100px">
                <div>[[job.status]]</div>
                <div>[[job.duration]]</div>
            </td>
            <td style="width: 200px">
                <div>[[job.copied]] / [[job.total]]</div>
                <div>[[job.start]]</div>
            </td>
            <td>
                <a href="/ltfs/jobs/log/[[job.id]]" title="Log" class="btn btn-default"><i class="fa fa-file"></i></a>
                <a href="/ltfs/jobs/files/[[job.id]]" title="File list" class="btn btn-default"><i class="fa fa-list"></i></a>
                <a ng:click="action(job, 'pause')" ng:show="job.status == 'RUNNING' || job.status == 'QUEUED'" title="Pause" class="btn btn-default"><i class="fa fa-pause"></i></a>
                <a ng:click="action(job, 'restart')" ng:hide="job.status == 'RUNNING' || job.status == 'QUEUED'" title="Restart" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                <a ng:click="action(job, 'resume')" ng:show="job.status == 'PAUSED'" title="Resume" class="btn btn-default"><i class="fa fa-play"></i></a>
                <a ng:click="action(job, 'cancel')" ng:hide="job.status == 'RUNNING' || job.status == 'QUEUED'" title="Cancel" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </table>
</p>