<p>
    <a ng:click="refresh()" class="btn btn-default"><i class="fa fa-refresh"></i> Refresh</a>
</p>


<h5>Drives</h5>

<p>
    <filterbox ng:model="filter" />
</p>

<p>
    <table class="slide table table-bordered">
        <tr>
            <th width="1">Drive</th>
            <th>Status</th>
            <th>Barcode</th>
            <th>Origin slot</th>
            <th width="1"></th>
        </tr>
        <tr ng:repeat="drive in library.drives | filter:filter | orderBy:'drive'">
            <td>
                <i class="fa fa-square"></i> [[drive.drive]]
            </td>
            <td>[[drive.status]]</td>
            <td>[[drive.barcode]]</td>
            <td>[[drive.origin]]</td>
            <td>
                <a ng:click="unload(drive)" class="btn btn-danger btn-ink btn-sm">
                    <i class="fa fa-eject"></i> Unload
                </a>
            </td>
        </tr>
    </table>
</p>

<h5>Slots</h5>

<div class="row">
    <div class="col-sm-3">
        <ac:select ac-options="x as x.title for x in slots_full" class="form-control" ac-model="op.source"></ac:select>
    </div>
    <div class="col-sm-4">
        <a ng:click="load(op.source)" class="btn btn-default"><i class="fa fa-play"></i> Load</a>
        <a ng:click="format(op.source)" class="btn btn-default"><i class="fa fa-asterisk"></i> Format</a>
        <a ng:click="fsck(op.source)" class="btn btn-default"><i class="fa fa-wrench"></i> Check</a>
    </div>
    <div class="col-sm-2">
        <a ng:click="move(op.source, op.destination)" class="btn btn-default">Move to <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="col-sm-3">
        <ac:select ac-options="x as x.title for x in slots_empty" class="form-control" ac-model="op.destination"></ac:select>
    </div>
</div>


<div class="drawer" ng:class="{active: drawerVisible}" ng:controller="LTFSBarcodesCtrl">
    <div ng:click="drawerVisible = !drawerVisible" class="toggle">
        <div class="text">
            Barcode printer
            <i class="fa fa-arrow-up" ng:hide="drawerVisible" ng:class="{'fa-accent': restoreQueue.length}"></i>
            <i class="fa fa-arrow-down" ng:show="drawerVisible" ng:class="{'fa-accent': restoreQueue.length}"></i>
        </div>
    </div>

    <ng:include src="'/template/main/partial/ltfs/barcodes.html'" />
</div>
