<p>
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-default btn-block" href="/ltfs/tape/new">
                <i class="fa fa-barcode"></i> New tape
            </a>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Search..." ng:model="query" ng:hide="advanced" />
            <div ng:show="advanced">
                <textarea class="form-control" placeholder="Search..." ng:model="query"></textarea>
                <br/>
                <textarea class="form-control" placeholder="Exclude..." ng:model="exclude"></textarea>
                <br/>
                <span ng:model="dirs_only" class="form-control" checkbox text="Directories only"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <a ng:click="advanced = true" ng:hide="advanced" class="btn btn-default">
                <i class="fa fa-arrow-down"></i>
            </a>
            <a ng:click="advanced = false" ng:show="advanced" class="btn btn-primary">
                <i class="fa fa-arrow-up"></i>
            </a>

            <a class="btn btn-primary" ng:click="search('tapes')">
                <i class="fa fa-search"></i> Tapes
            </a>
            <a class="btn btn-primary" ng:click="search('files')">
                <i class="fa fa-search"></i> Files
            </a>
        </div>
    </div>
</p>


<div ng:show="loading" class="text-center">
    <i class="fa fa-circle-o-notch fa-spin"></i> Searching...
</div>

<div ng:show="query && !loading && result.tapes.length == 0" class="text-center">
    Nothing found
</div>


<p>
    <table class="slide table table-hover table-bordered" ng:show="result.tapes">
        <tr>
            <th>Tape</th>
            <th>Custom A</th>
            <th>Custom B</th>
            <th>Custom C</th>
            <th>Custom D</th>
            <th></th>
        </tr>
        <tr ng:repeat="tape in result.tapes">
            <td>
                <i class="fa fa-barcode"></i>
                &nbsp;
                <a href="/ltfs/browse/tape/[[tape.id]]">[[tape.name]]</a>
                <span ng:if="!tapeIsAvailable(tape.name)">
                    <i class="fa fa-warning"></i>
                </span>
            </td>
            <td>[[tape.custom_a]]</td>
            <td>[[tape.custom_b]]</td>
            <td>[[tape.custom_c]]</td>
            <td>[[tape.custom_d]]</td>
            <td width="80">
                <a href="/ltfs/tape/[[tape.id]]" class="btn btn-default btn-xs" title="Edit">
                    <i class="fa fa-edit"></i>
                </a>
                <a ng:click="deleteTape(tape)" class="btn btn-danger btn-xs" title="Delete">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </table>
</p>

<p ng:show="result.entries">
    <a ng:click="prevPage()" class="btn btn-default" ng:hide="page == 0"><i class="fa fa-arrow-left"></i> Prev</a>
    <a ng:click="nextPage()" class="btn btn-default" ng:hide="result.entries.length < 50"><i class="fa fa-arrow-right"></i> Next</a>
    <a ng:click="enqueueFiles()" class="btn btn-default"><i class="fa fa-history"></i> Enqueue selected for restore</a>
    <a ng:click="excludeFiles()" class="btn btn-default"><i class="fa fa-times-circle-o"></i> Exclude selected</a>
    <a ng:click="namesOnly = !namesOnly" class="btn btn-default"><i class="fa fa-cog"></i> Show filenames only</a>
</p>


<p>
    <table class="slide table table-hover table-bordered" ng:show="result.entries">
        <tr>
            <th>
                <a ng:click="selectAll()" class="btn btn-xs btn-default"><i class="fa fa-check-square-o"></i></a>
            </th>
            <th>Tape</th>
            <th>Name</th>
            <th>Size</th>
            <th></th>
        </tr>
        <tr ng:repeat="entry in result.entries">
            <td width="1">
                <span ng:model="entry.selected" checkbox text=""></span>
            </td>
            <td class="no-wrap">
                <i class="fa fa-barcode"></i>
                &nbsp;
                <span>[[entry.tape_name]]</span>
                &nbsp;
                <span ng:if="!tapeIsAvailable(entry.tape_name)">
                    <i class="fa fa-warning"></i>
                </span>
            </td>
            <td width="1">
                <i class="fa fa-folder-open" ng:show="entry.is_dir"></i>
                <i class="fa fa-file" ng:hide="entry.is_dir"></i>
                &nbsp;
                <a href="/ltfs/browse/[[entry.parent_id]]" ng:show="entry.parent_id">
                    <span ng:show="namesOnly">[[entry.name]]</span>
                    <span ng:hide="namesOnly">[[entry.path]]</span>
                </a>
                <span ng:hide="entry.parent_id">
                    <span ng:show="namesOnly">[[entry.name]]</span>
                    <span ng:hide="namesOnly">[[entry.path]]</span>
                </span>
            </td>
            <td class="no-wrap"><span ng:show="entry.length">[[entry.length | bytes]]</span></td>
            <td>
            </td>
        </tr>
    </table>
</p>