<filterbox ng:model="filter" />

<div class="list-group">
    <a href="/ltfs/tapegroup/[[group.id]]" class="slide list-group-item" ng:repeat="group in tapegroups | filter:filter">
        <div class="pull-right">
            <span class="label label-info" ng:show="group.tapes.length">[[group.tapes.length]] tapes</span>
        </div>
        <i class="fa fa-th-large"></i> [[group.name]] 
    </a>
</div>

<div class="form-group">
    <input ng:enter="create(newName)" type="text" class="form-control" required placeholder="New group name" ng:model="newName" />
</div>
<div class="form-group">
    <a ng:click="create(newName)" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Create group
    </a>
</div>
