<tabset>
    <tab heading="Criterions">
        <br/>
        <div class="list-group">
            <a href="/tiering/criterion/[[criterion.id]]" class="slide list-group-item" ng:repeat="criterion in criterions">
                <i class="fa fa-search"></i> [[criterion.name]]
            </a>
        </div>

        <a ng:click="newCriterion()" class="btn btn-default"><i class="fa fa-plus"></i> New criterion</a>
    </tab>
    <tab heading="Destinations">
        <br/>
        <div class="list-group">
            <a href="/tiering/destination/[[destination.id]]" class="slide list-group-item" ng:repeat="destination in destinations">
                <i class="fa fa-arrows-alt"></i> [[destination.name]]
            </a>
        </div>

        <a ng:click="newDestination()" class="btn btn-default"><i class="fa fa-plus"></i> New destination</a>
    </tab>
</tabset>
