<div class="page-container automatic-account-operations-page-container">
    <div class="automatic-accaount-operations-header-container page-title-container"
            ng-hide="isFirstTimeLoad">
        <h3 class="money-transfer-header page-title" translate>
            Automatic Account Operations
        </h3>
    </div>

    <div class="automatic-account-operations-controls-container">
        <div class="accounts-select-container">
            <select type="button" class="form-control"
                name="currentUserAccount"
                ng-model="currentUserAccount"
                ng-options="account.id + ' (' + gettext('Balance') + ': ' + account.balance
                    + ' ' + getCurrencyById(account.currency).code
                    + ')' for account in userAccounts"
                ng-required="true">
            </select>
        </div>
        <div class="create-new-automatic-account-operation-btn-container">
            <button class="btn btn-success" ng-click="createAutomaticAccountOperation()" translate>
                Create Automatic Account Operation
            </button>
        </div>
    </div>

    <div class="automatic-account-operations-list-container" ng-hide="isFirstTimeLoad">
        <div class="automatic-account-operations-header-container">
            <div class="timestamp-container">
                <span class="timestamp" translate>
                    Automatic account operations state is actual for {{stateTimestamp | unixtime | date:'MMM, dd, yyyy HH:mm:ss Z'}}
                </span>
            </div>

            <div class="refresh-button-container">
                <a class="refresh-button" ng-click="reloadAutomaticAccontOperationsInformation()">
                    <span class="glyphicon glyphicon-refresh" ng-class="{ 'fa-spin': isBusy}"></span>
                </a>
            </div>
        </div>

        <div class="automatic-account-operations-list-header-container" ng-hide="automaticAccountOperations.length == 0">
            <div class="automatic-account-operations-list-header">
                <div class="operation-type-header-container col-xs-2">
                    <span class="operation-type-header" translate>
                        Operation Type
                    </span>
                </div>
                <div class="operation-start-date-header-container col-xs-2">
                    <span class="operation-start-date-header" translate>
                        Operation Start Date
                    </span>
                </div>
                <div class="operation-period-header-container col-xs-1">
                    <span class="operation-period-header" translate>
                        Operation Period
                    </span>
                </div>
                <div class="operation-info-header-container col-xs-4">
                    <span class="operation-info-header" translate>
                        Operation Info
                    </span>
                </div>
                <div class="operation-amount-header-container col-xs-1">
                    <span class="operation-amount-header" translate>
                        Operation Amount
                    </span>
                </div>
                <div class="edit-operation-header-container col-xs-1">
                </div>
                <div class="delete-operation-header-container col-xs-1">
                    <span class="remove-operation-header" translate>
                        Remove
                    </span>
                </div>
            </div>
        </div>

        <ul class="automatic-account-operations-list" ng-hide="automaticAccountOperations.length == 0">
            <li class="automatic-account-operation-container" ng-repeat="automaticAccountOperation in automaticAccountOperations
                | slice: (currentPageNumber - 1)*itemsPerPage : currentPageNumber*itemsPerPage">
                <div class="operation-type-container col-xs-2">
                    <span class="operation-type">
                        {{(automaticAccountOperation.type == 'erip')
                            ? gettext('Erip Payment')
                            : gettext('Money Transfer')}}
                    </span>
                </div>
                <div class="operation-start-date-container col-xs-2">
                    <span class="operation-start-date">
                        {{automaticAccountOperation.startDate | unixtime | date:'MMM, dd, yyyy'}}
                    </span>
                </div>
                <div class="operation-period-container col-xs-1">
                    <span class="operation-period">
                        {{automaticAccountOperation.period | translate}}
                    </span>
                </div>
                <div class="operation-info-container col-xs-4">
                    <div class="operation-info">
                        <div class="erip-payment"
                                ng-show="(automaticAccountOperation.type == 'erip')
                                    && ($parent.getEripPaymentById(automaticAccountOperation.data.paymentId) != null)">
                            <div class="erip-payment-name-container">
                                <span class="label" translate>
                                    Erip payment:
                                </span>
                                <span class="erip-payment-name">
                                    {{$parent.getEripPaymentById(automaticAccountOperation.data.paymentId).name[$root.localizationService.currentLocale.code]}}
                                </span>
                            </div>
                            <div class="erip-payment-fields-list-container">
                                <div class="erip-payment-fields-list-header-container"
                                        ng-show="automaticAccountOperation.data.paymentFields.length != 0">
                                    <span class="erip-payment-fields-list-header label" translate>
                                        Payment fields
                                    </span>
                                </div>

                                <ul class="erip-payment-fields-list"
                                        ng-show="automaticAccountOperation.data.paymentFields.length != 0">
                                    <li class="erip-payment-field-container"
                                        ng-repeat="(key, value) in automaticAccountOperation.data.paymentFields track by $index">
                                        <span class="label">
                                            {{$parent.$parent.getEripPaymentById(
                                                $parent.automaticAccountOperation.data.paymentId)
                                                .fields[key].name[$root.localizationService.currentLocale.code]}}:
                                        </span>
                                        <span class="erip-payment-field">
                                            {{value}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="money-transfer" ng-show="automaticAccountOperation.type == 'direct'">
                            <div class="recipient-account-number-container">
                                <span class="label" translate>
                                    Recipient account number:
                                </span>
                                <span class="recipient-account-number">
                                    {{automaticAccountOperation.data.recipientAccountId}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="operation-amount-container col-xs-1">
                    <span class="operation-amount">
                        {{automaticAccountOperation.data.amount}}
                    </span>
                </div>
                <div class="edit-operation-container col-xs-1">
                    <a class="edit-operation" title="{{'Edit operation'|translate}}"
                        ng-click="editAutomaticAccountOperation(automaticAccountOperation)" translate>
                        Edit
                    </a>
                </div>
                <div class="delete-operation-container col-xs-1">
                    <a class="glyphicon glyphicon-remove-circle"
                        title="{{'Remove operation'|translate}}"
                        ng-click="removeAutomaticAccountOperation(currentUserAccount.id, automaticAccountOperation.id)">
                    </a>
                </div>
            </li>
        </ul>

        <div class="no-automatic-account-operations-presented-container" ng-show="automaticAccountOperations.length == 0 && !isBusy">
            <h3 translate>You have no automatic account operations for selected account yet :(</h3>
        </div>

        <div class="automatic-account-operations-list-paging-container"
            ng-hide="automaticAccountOperations.length / itemsPerPage <= 1">
            <pagination class="pagination-sm"
                ng-model="currentPageNumber"
                total-items="automaticAccountOperations.length"
                items-per-page="itemsPerPage"
                max-size="maxPaginationSize"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </pagination>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>