//measures
@headerHeight: 50px;
@footerHeight: 50px;

@leftMenuWidth: 320px;
@leftMenuHeaderHeight: @headerHeight;

@languageSelectorLineHeight: @headerHeight;

@menuButtonContainerHeight: @headerHeight;

@userMenuButtonHeight: @headerHeight;

@manageAccountMenuWidth: 200px;

@changePasswordInputGroupAddonWidth: 150px;
@changePasswordFormMaxWidth: 550px;

@paymentContainerWidth: 700px;
@paymentInputGroupAddonMinWidth: 205px;

@paymentResultFieldsInputGroupAddonMinWidth: @paymentInputGroupAddonMinWidth;

@generalPaymentInfoFormInputGroupAddonWidth: @paymentInputGroupAddonMinWidth;

@moneyTransferContainerMaxWidth: @paymentContainerWidth;
@moneyTransferInfoFormInputGroupAddonWidth: @paymentInputGroupAddonMinWidth;

@eripPaymentContainerMaxWidth: @paymentContainerWidth;
@eripPaymentFieldInputGroupAddonWidth: @paymentInputGroupAddonMinWidth;

//font sizes
@leftMenuCloseButtonFontSize: 18px;
@leftMenuHeaderBrandFontSize: 18px;
@leftMenuLinkFontSize: 16px;

@pageHeaderTitleFontSize: 22px;

@accountsPageHeaderRefreshButtonFontSize: 16px;
@accountsPageHeaderStateTimestampFontSize: 14px;

@accountModalStateTimestampFontSize: 14px;
@accountModalLabelFontSize: 14px;
@accountModalValueFontSize: 14px;

@paymentResultHeaderFontSize: 24px;
@paymentResultPaymentNameFontSize: 18px;
@paymentResultErrorInfoHeaderFontSize: 18px;

@eripPaymentNameFontSize: 16px;
@eripTreeHeaderFontSize: 14px;
@eripTreeCategoryHeaderFontSize: 16px;
@eripTreePaymentFontSize: 16px;

@currencyHeaderRefreshButtonFontSize: 16px;
@currencyHeaderStateTimestampFontSize: 14px;
@currencyHeaderRefreshButtonFontSize: 16px;

//colors
@primaryColor1: #F0F0F0;
@primaryColor2: #E0E0E0;
@primaryColor3: #A8A8A8;
@primaryColor4: #888888;
@primaryColor5: #00CC33;
@primaryColor6: #606060;
@primaryColor7: #ef5f3c;

@invalidColor: @primaryColor7;
@validColor: @primaryColor5;

@headerBackgroundColor: @primaryColor1;
@headerBorderColor: @primaryColor2;
@menuButtonHoverBorderColor: @primaryColor3;

@footerBackgroundColor: @primaryColor1;
@footerBorderColor: @primaryColor2;
@footerCopyrightColor: @primaryColor3;

@linksColor: @primaryColor3;
@linksHoverColor: @primaryColor4;

@languageActiveItemShadowColor: @primaryColor4;
@lanugageSelectorHoverLocaleColor: @primaryColor3;
@languageSelectorActiveLocaleColor: @primaryColor5;

@delimiterBorderColor: @primaryColor2;

@userMenuDropdownActiveElementBackgroundColor: @primaryColor2;
@userMenuDropdownActiveElementLinkTextColor: @primaryColor4;

@notificationsCounterBadgeBackgroundColor: @primaryColor2;
@notificationsCounterBadgeTextColor: @primaryColor5;

@leftMenuBackgroundColor: white;
@leftMenuBorderRightColor: @primaryColor2;
@leftMenuOverlayColor: black;
@leftMenuBorderBottomColor: @primaryColor2;
@leftMenuShadowRightColor: black;

@leftMenuActiveLinkColor: @primaryColor5;
@leftMeuLinkContainerBorderColor: @primaryColor2;

@manageAccountMenuBorderRightColor: @primaryColor2;
@manageAccountMenuActveItemBackgroundColor: @primaryColor2;
@manageAccountMenuActveItemLinkColor: @primaryColor4;

@pageHeaderTitleColor: @primaryColor4;

@accountsPageHeaderTitleBorderColor: @primaryColor2;
@accountsPageHeaderStateTimestampColor: @primaryColor3;
@accountsPageHeaderBorderColor: @primaryColor2;
@accountsPageAccountsListHeaderColor: @primaryColor4;
@accountsPageAccountsListHeaderBorderColor: @primaryColor2;
@accountsPageAccountContainerBorderColor: @primaryColor2;
@accountsPageAccountContainerHoverBackgroundColor: @primaryColor1;
@accountsPageAccountDataTextColor: @primaryColor6;
@accountsPageAccountShowDetailsLinkBorderColor: @primaryColor4;
@accountsPageAccountShowDetailsLinkHoverBackgroundColor: white;
@accountsPageNoAccountsPresentedColor: @primaryColor3;

@accountModalAccountInfoContainerBorderColor: @primaryColor2;
@accountModalStateTimestampContainerBorderColor: @primaryColor2;
@accountModalStateTimestampColor: @primaryColor3;
@accountModalLabelColor: @primaryColor6;
@accountModalValueColor: @primaryColor4;
@accountLabelBorderRightColor: @primaryColor2;
@accountCardsHeaderColor: @primaryColor4;
@accountCardsHeaderBorderColor: @primaryColor2;

@paginationTextColor: @primaryColor4;
@paginationActiveTextColor: white;
@paginationActiveBackgroundColor: @primaryColor3;
@paginationActiveBorderColor: @primaryColor4;

@paymentResultSuccessHeaderColor: @validColor;
@paymentResultFailureHeaderColor: @invalidColor;
@paymentResultPaymentNameColor: @primaryColor4;
@paymentResultHeaderBorderColor: @primaryColor2;
@paymentResultErrorInfoBorderColor: @primaryColor2;
@paymentResultErrorInfoHeaderColor: @primaryColor4;
@paymentResultErrorInfoErrorDetailsMessageColor: @invalidColor;

@moneyTransferHeaderBorderColor: @primaryColor2;

@eripPaymentHeaderBorderColor: @primaryColor2;
@eripPaymentNameContainerBorderColor: @primaryColor2;
@eripPaymentNameColor: @primaryColor4;
@eripTreeHeaderColor: @primaryColor3;
@eripTreeCategoryHeaderColor: @primaryColor4;
@eripTreeCategoryHeaderHoverColor: @primaryColor6;
@eripTreeNodeCategoryInnerListBorderColor: @primaryColor2;
@eripTreeCategoryPaymentColor: @primaryColor4;
@eripTreeCategoryPaymentHoverColor: @primaryColor6;
@eripTreeCategoryPaymentActiveColor: @primaryColor5;

@currencyHeaderBorderColor: @primaryColor2;
@currencyHeaderStateTimestampColor: @primaryColor3;