<div class="page-container money-transfer-page-container">
    <div class="money-transfer-header-container" ng-hide="isFirstTimeLoad">
        <h3 class="money-transfer-header">
            Money Transfer
        </h3>
    </div>

    <div class="money-transfer-container" ng-hide="isFirstTimeLoad">
        <div class="money-transfer-info-form" ng-form="moneyTransferInfoForm">
            <div class="recipient-account-number-container input-group">
                <div class="input-group-addon">
                    Recipient account number
                </div>

                <input class="form-control" type="text"
                    placeholder="Recipient account number"
                    ng-required="true" ng-model="currentPayment.recipientAccountNumber">
            </div>
        </div>

        <div class="general-payment-info-form" ng-form="generalPaymentInfoForm">
            <div class="payment-amount-container" ng-show="currentPayment != null">
                <div class="payment-amount input-group">
                    <div class="input-group-addon">
                        Amount
                    </div>

                    <input class="form-control" type="number"
                        placeholder="Amount"
                        min="1"
                        max="{{currentUserAccount.balance}}"
                        ng-required="true"
                        ng-model="paymentAmount"
                        ng-pattern="validationRegularExpressions.integerNumberRegularExpression">
                </div>
            </div>

            <div class="current-account-switch-container" ng-show="currentPayment != null">
                <div class="current-account-switch input-group">
                    <div class="input-group-addon">
                        Account number to pay from
                    </div>

                    <select type="button" class="form-control"
                        ng-model="currentUserAccount"
                        ng-options="account.id + ' (Balance: ' + account.balance + ')' for account in userAccounts"
                        ng-required="true">
                    </select>
                </div>
            </div>
        </div>

        <div class="pay-btn-container" ng-show="currentPayment != null">
            <button class="btn btn-success pay-btn" ng-click="pay()"
                ng-class="{disabled: !generalPaymentInfoForm.$valid || !moneyTransferInfoForm.$valid}">
                Pay
            </button>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>