<div class="page-container money-transfer-page-container">
    <div class="money-transfer-header-container" ng-hide="isFirstTimeLoad">
        <h3 class="money-transfer-header" translate>
            Money Transfer
        </h3>
    </div>

    <div class="money-transfer-container" ng-hide="isFirstTimeLoad">
        <money-transfer payment-form="moneyTransferInfoForm"
            current-payment="currentPayment">
        </money-transfer>

        <general-payment payment-form="generalPaymentInfoForm"
            current-payment="currentPayment"
            user-accounts="userAccounts">
        </general-payment>

        <div class="pay-btn-container" ng-show="currentPayment != null">
            <button class="btn btn-success pay-btn" ng-click="pay()"
                ng-class="{disabled: !generalPaymentInfoForm.$valid || !moneyTransferInfoForm.$valid}">
                Pay
            </button>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>