<div class="page-container money-transfer-page-container">
    <div class="money-transfer-header-container" ng-hide="isFirstTimeLoad">
        <h3 class="money-transfer-header">
            Money Transfer
        </h3>
    </div>

    <div class="money-transfer-container" ng-hide="isFirstTimeLoad">
        <div class="money-transfer-info-form" ng-form="moneyTransferInfoForm">
            <div class="recipient-account-number-container input-group">
                <div class="input-group-addon">
                    Recipient account number
                </div>

                <input class="form-control" type="text"
                    name="recipientAccountNumber"
                    placeholder="Recipient account number"
                    ng-required="true"
                    ng-model="currentPayment.recipientAccountNumber">
                <validation-message validation-expressions="[{
                        isValid: (!moneyTransferInfoForm.recipientAccountNumber.$dirty
                            || moneyTransferInfoForm.recipientAccountNumber.$valid),
                        validationMessageText: 'The recipient account number is required'
                    }]">
                </validation-message>
            </div>
        </div>

        <general-payment payment-form="generalPaymentInfoForm"
            current-payment="currentPayment"
            user-accounts="userAccounts">
        </general-payment>

        <div class="pay-btn-container" ng-show="currentPayment != null">
            <button class="btn btn-success pay-btn" ng-click="pay()"
                ng-class="{disabled: !generalPaymentInfoForm.$valid || !moneyTransferInfoForm.$valid}">
                Pay
            </button>
        </div>
    </div>

    <custom-spinner ng-show="isBusy"></custom-spinner>
</div>