<div class="change-password-content-container">
    <div class="change-password-header-container">
        <h3 class="change-password-header" translate>
            Change Password
        </h3>
    </div>

    <div class="change-password-form-container">
        <form class="change-password-form" role="form" name="changePasswordForm">
            <div class="input-group login-input-container">
                <div class="input-group-addon" translate>Login</div>
                <input class="form-control" type="text"
                    name="login"
                    placeholder="{{'Enter login'|translate}}"
                    ng-required="true"
                    ng-maxlength="validationRegularExpressions.maxLengthNumber"
                    ng-model="login">
                <validation-message validation-expressions="[{
                        isValid: (!changePasswordForm.login.$dirty
                            || !changePasswordForm.login.$error.required),
                        validationMessageText: gettext('The login is required')
                    },
                    {
                        isValid: (!changePasswordForm.login.$dirty
                            || !changePasswordForm.login.$error.maxlength),
                        validationMessageText: gettext('The value is too long')
                    }]">
                </validation-message>
            </div>
            <div class="input-group old-password-input-container">
                <div class="input-group-addon" translate>Old password</div>
                <input class="form-control" type="password"
                    name="password"
                    placeholder="{{'Enter old password'|translate}}"
                    ng-required="true"
                    ng-maxlength="validationRegularExpressions.maxLengthNumber"
                    ng-model="password">
                <validation-message validation-expressions="[{
                        isValid: (!changePasswordForm.password.$dirty
                            || !changePasswordForm.password.$error.required),
                        validationMessageText: gettext('The old password is required')
                    },
                    {
                        isValid: (!changePasswordForm.password.$dirty
                            || !changePasswordForm.password.$error.maxlength),
                        validationMessageText: gettext('The value is too long')
                    }]">
                </validation-message>
            </div>

            <div class="input-group new-password-input-container">
                <div class="input-group-addon" translate>New password</div>
                <input class="form-control" type="password"
                    name="newPassword"
                    placeholder="{{'Enter new password'|translate}}"
                    ng-required="true"
                    ng-maxlength="validationRegularExpressions.maxLengthNumber"
                    ng-pattern="validationRegularExpressions.password"
                    ng-model="newPassword">
                    <validation-message validation-expressions="[{
                            isValid: (!changePasswordForm.newPassword.$dirty
                                || !changePasswordForm.newPassword.$error.required),
                            validationMessageText: gettext('The new password is required')
                        },
                        {
                            isValid: (!changePasswordForm.newPassword.$dirty
                                || !changePasswordForm.newPassword.$error.pattern),
                            validationMessageText: gettext('The new password must consist of latin alphabet letters in both upper and lower case or decimal digits, also it must be from 6 to 20 characters length')
                        },
                        {
                            isValid: (!changePasswordForm.newPassword.$dirty
                                || !changePasswordForm.newPassword.$error.maxlength),
                            validationMessageText: gettext('The value is too long')
                        }]">
                    </validation-message>
            </div>
            <div class="input-group confirm-password-input-container">
                <div class="input-group-addon" translate>Confirm password</div>
                <input class="form-control" type="password"
                    name="confirmNewPassword"
                    placeholder="Confirm new password"
                    ng-required="true"
                    ng-maxlength="validationRegularExpressions.maxLengthNumber"
                    match-validator="newPassword"
                    ng-model="confirmNewPassword">
                    <validation-message validation-expressions="[{
                            isValid: (!changePasswordForm.confirmNewPassword.$dirty
                                || !changePasswordForm.confirmNewPassword.$error.required),
                            validationMessageText: gettext('The new password confirmation is required')
                        },
                        {
                            isValid: (!changePasswordForm.confirmNewPassword.$dirty
                                || !changePasswordForm.confirmNewPassword.$error.match),
                            validationMessageText: gettext('The new password confirmation must match the new password field')
                        },
                        {
                            isValid: (!changePasswordForm.confirmNewPassword.$dirty
                                || !changePasswordForm.confirmNewPassword.$error.maxlength),
                            validationMessageText: gettext('The value is too long')
                        }]">
                    </validation-message>
            </div>

            <div class="actions-container">
                <button class="btn btn-success" type="submit"
                    ng-click="changePassword()" translate>
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>